<app-header></app-header>


<section id="main">
  <div class="main__block">
    <app-hk-header></app-hk-header>

    <div class="main__title d-flex align-items-center">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">HK</th>
          <th scope="col" class="col__items" rowspan="4" colspan="4">
            <p class="th__title"> 12/4/17
              <i class="far fa-edit"></i>
            </p>
            <p class="min__so">min/SO: 13.2</p>
            <p class="min__co">min/CO: 22.4</p>
          </th>
          <th scope="col" class="col__items" rowspan="4" colspan="4">
            <p class="th__title"> 12/4/17
              <i class="far fa-edit"></i>
            </p>
            <p class="min__so">min/SO: 13.2</p>
            <p class="min__co">min/CO: 22.4</p>
          </th>
          <th scope="col" class="col__items" rowspan="2" colspan="2">
            <p class="th__title__last"> 12/4/17
              <i class="far fa-edit"></i>
            </p>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td scope="row" class="type" rowspan="2">Teresa</td>
          <td class="font-gray">
            <p class="td-numb">DND</p>
            <input type="text" class="td-input" placeholder="DND">
          </td>
          <td class="font-gray">
            <p class="td-numb">S/O</p>
            <input type="text" class="td-input" placeholder="S/O">
          </td>
          <td class="font-gray">
            <p class="td-numb">C/O</p>
            <input type="text" class="td-input" placeholder="C/O">
          </td>
          <td class="font-gray">
            <p class="td-numb big__td">Goal Variance</p>
            <input type="text" class="td-input" placeholder="Goal Variance">
          </td>
          <td class="font-gray">
            <p class="td-numb">DND</p>
            <input type="text" class="td-input" placeholder="DND">
          </td>
          <td class="font-gray">
            <p class="td-numb">S/O</p>
            <input type="text" class="td-input" placeholder="S/O">
          </td>
          <td class="font-gray">
            <p class="td-numb">C/O</p>
            <input type="text" class="td-input" placeholder="C/O">
          </td>
          <td class="font-gray">
            <p class="td-numb big__td">Goal Variance</p>
            <input type="text" class="td-input" placeholder="Goal Variance">
          </td>
          <td class="font-gray">
            <p class="td-numb">DND</p>
            <input type="text" class="td-input" placeholder="DND">
          </td>
          <td class="font-gray">
            <p class="td-numb">S/O</p>
            <input type="text" class="td-input" placeholder="S/O">
          </td>
        </tr>
        <tr>
          <td>
            <p class="td-numb">$3,349.95</p>
            <input type="text" class="td-input" placeholder="$3,349.95">
          </td>
          <td>
            <p class="td-numb">$3,349.95</p>
            <input type="text" class="td-input" placeholder="$3,349.95">
          </td>
          <td>
            <p class="td-numb">$535.34</p>
            <input type="text" class="td-input" placeholder="$535.34">
          </td>
          <td>
            <p class="td-numb">$535.34</p>
            <input type="text" class="td-input" placeholder="$535.34">
          </td>
          <td>
            <p class="td-numb">$535.34</p>
            <input type="text" class="td-input" placeholder="$535.34">
          </td>
          <td>
            <p class="td-numb">$3,349.95</p>
            <input type="text" class="td-input" placeholder="$3,349.95">
          </td>
          <td>
            <p class="td-numb">$0.00</p>
            <input type="text" class="td-input" placeholder="$0.00">
          </td>
          <td>
            <p class="td-numb">$3,349.95</p>
            <input type="text" class="td-input" placeholder="$3,349.95">
          </td>
          <td>
            <p class="td-numb">$406.67</p>
            <input type="text" class="td-input" placeholder="$406.67">
          </td>
          <td>
            <p class="td-numb">$3,349.95</p>
            <input type="text" class="td-input" placeholder="$3,349.95">
          </td>
        </tr>
        <tr>
          <td scope="row" class="type">Wendy</td>
          <td>
            <p class="td-numb">$535.34</p>
            <input type="text" class="td-input" placeholder="$535.34">
          </td>
          <td>
            <p class="td-numb">$535.34</p>
            <input type="text" class="td-input" placeholder="$535.34">
          </td>
          <td>
            <p class="td-numb">$535.34</p>
            <input type="text" class="td-input" placeholder="$535.34">
          </td>
          <td>
            <p class="td-numb">$870.86</p>
            <input type="text" class="td-input" placeholder="870.86">
          </td>
          <td>
            <p class="td-numb">$535.34</p>
            <input type="text" class="td-input" placeholder="$535.34">
          </td>
          <td>
            <p class="td-numb">$3,349.95</p>
            <input type="text" class="td-input" placeholder="$3,349.95">
          </td>
          <td>
            <p class="td-numb">$0.00</p>
            <input type="text" class="td-input" placeholder="$0.00">
          </td>
          <td>
            <p class="td-numb">$3,349.95</p>
            <input type="text" class="td-input" placeholder="$3,349.95">
          </td>
          <td>
            <p class="td-numb">$406.67</p>
            <input type="text" class="td-input" placeholder="$406.67">
          </td>
          <td>
            <p class="td-numb">$3,349.95</p>
            <input type="text" class="td-input" placeholder="$3,349.95">
          </td>
        </tr>
        <tr>
          <td scope="row" class="type">Teresa</td>
          <td>
            <p class="td-numb">$535.34</p>
            <input type="text" class="td-input" placeholder="$535.34">
          </td>
          <td>
            <p class="td-numb">$535.34</p>
            <input type="text" class="td-input" placeholder="$535.34">
          </td>
          <td>
            <p class="td-numb">$535.34</p>
            <input type="text" class="td-input" placeholder="$535.34">
          </td>
          <td>
            <p class="td-numb">$870.86</p>
            <input type="text" class="td-input" placeholder="870.86">
          </td>
          <td>
            <p class="td-numb">$535.34</p>
            <input type="text" class="td-input" placeholder="$535.34">
          </td>
          <td>
            <p class="td-numb">$3,349.95</p>
            <input type="text" class="td-input" placeholder="$3,349.95">
          </td>
          <td>
            <p class="td-numb">$0.00</p>
            <input type="text" class="td-input" placeholder="$0.00">
          </td>
          <td>
            <p class="td-numb">$3,349.95</p>
            <input type="text" class="td-input" placeholder="$3,349.95">
          </td>
          <td>
            <p class="td-numb">$406.67</p>
            <input type="text" class="td-input" placeholder="$406.67">
          </td>
          <td>
            <p class="td-numb">$3,349.95</p>
            <input type="text" class="td-input" placeholder="$3,349.95">
          </td>
        </tr>
        </tbody>
      </table>
      <div class="plus__circle" (click)="openNewProperty(contentNewProperty)">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve" width="40px" height="40px">
                    <g>
                        <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26   S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z" fill="#707070"/>
                        <path d="M38.5,25H27V14c0-0.553-0.448-1-1-1s-1,0.447-1,1v11H13.5c-0.552,0-1,0.447-1,1s0.448,1,1,1H25v12c0,0.553,0.448,1,1,1   s1-0.447,1-1V27h11.5c0.552,0,1-0.447,1-1S39.052,25,38.5,25z" fill="#707070"/>
                    </g>
                </svg>
      </div>
      <div class="save__button">
        <button class="button__item">Save</button>
      </div>

    </div>
    </div>


<!--POPUP ADD PROPERTY FORM-->
  <ng-template #contentNewProperty let-c="close" let-d="dismiss" class="modal-lg">
    <div class="modal-container" style="width: 800px; background: white;">
    <div class="main__block">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="cros">&times;</span>
      </button>
      <div class="housekeeper__block d-flex flex-column align-items-center">
        <h1>Create New Housekeeper</h1>
        <div class="select__date d-flex justify-content-center align-items-center">
          <p>Select Date:</p>
          <div class="search__date__item">12/4/17</div>
          <input type="text" class="date__item__input" placeholder="Min S/O Cal">
          <input type="text" class="date__item__input" placeholder="Min C/O Cal">
        </div>
        <div class="input__housekeeper">
          <input type="text" class="td-input" placeholder="Name">
          <input type="text" class="td-input" placeholder="DND">
          <input type="text" class="td-input" placeholder="S/O">
          <input type="text" class="td-input" placeholder="min">
        </div>
        <div class="plus__circle">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve" width="40px" height="40px">
                    <g>
                        <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26   S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z" fill="#707070"/>
                        <path d="M38.5,25H27V14c0-0.553-0.448-1-1-1s-1,0.447-1,1v11H13.5c-0.552,0-1,0.447-1,1s0.448,1,1,1H25v12c0,0.553,0.448,1,1,1   s1-0.447,1-1V27h11.5c0.552,0,1-0.447,1-1S39.052,25,38.5,25z" fill="#707070"/>
                    </g>
                </svg>
        </div>
        <div class="save__button">
          <button class="button__item">Save</button>
        </div>
      </div>
    </div>
    </div>
  </ng-template>

</section>
