/*Specification*/

$color-ff:             #e61818;
$primary-color:        #0d0d0d;
$title-color:          #E8E721;
$font-main:            Helvetica Neue;
$font-thin:            HelveticaNeue Thin;
$font-gray:            #76756F;
$font-gray2:           #575652;
$font-gray3:           #E6E5E2;
$font-gray4:           #F3F2F0;
$font-gray5:           #76756F;
$font-bold:            700;
$font-sz-12:           12px;


body {
  font-family: $font-main, Helvetica,  Arial,sans-serif;
  overflow-x: hidden;
  height: 100vh;
  font-weight: $font-bold;
}
a , a:hover {
  text-decoration: none;
  color: $title-color;
  font-weight: $font-bold;
  outline: none;
}
a:hover,select:hover{
  background-color: $primary-color;
}
#logo {
  background: #0d0d0d;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  .logo__item {
    background: url("../images/logo__image.png");
    height: 72px;
    width: 72px;
  }
}
#logo:hover {
  width: 310px;
  z-index: 1;
  overflow: visible;
  #menu-sidebar {
    display: block;
    margin-left: 72px;
  }
}

#header {
  width: auto;
  background: $primary-color;
  height: 55px;
  margin-left: 72px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .header__text {
    color: $title-color;
    font-size: 28px;
    padding: 8px 8px 8px 25px;
    text-transform: uppercase;
  }
}
#header:hover {
  z-index: 999;
}

/*
header {
  .header {
    background: #120D0C;
    display: flex;
    height: 60px;
  }
  .main-logo {
    background-image: url("../images/aurum-logo.png");
    height: 50px;
    width: 50px;
    margin-left: 28px;
    margin-top: 5px;
  }
  .page-name {
    padding-left: 25px;
    padding-top: 11px;
    font-size: 23px;
    color: #FFFF00;
  }
}
*/

#menu-sidebar {
  padding-left: 21px;
  background-color: #76756F;
  height: 100vh;
  width: 238px;
  margin-top: -18px;
  display: none;
}


.select__block {
  padding: 0px 50px 0px 10px;
  .select__item {
    display: block;
    margin-bottom: 10px;
    padding: 10px 10px 10px 25px;
    width: 240px;
    margin-left: -32px;
    color: #E8E721;
  }
  .select__item:nth-child(1) {
    margin-top: 20%;
  }
}
.dropbtn {
  background-color: $font-gray;
  color: $title-color;
  padding: 10px 10px 10px 25px;
  font-weight: $font-bold;
  border: none;
  cursor: pointer;
  display: block;
  width:220px;
  margin-left: -20px;
  margin-bottom: 6px;
}
.circle__block {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  .arrow__triangle {
    width: 18px;
    position: absolute;
    top: -132px;
    left: 3px;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $font-gray;
  min-width: 190px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: $title-color;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-left: 30px;
}

.dropdown-content a:hover {
  background-color: $primary-color;
  width: 248px;
  margin-left: -20px;
  padding-left: 67px;
}

.dropdown:hover .dropdown-content {
  display: block;
  width: 227px;
  margin-left: -20px;
}

.dropdown:hover .dropbtn {
  background-color: $font-gray;
}
.dropbtn:focus {
  text-decoration: none;
  outline: none;
}
