<section id="logo">
  <div class="logo__block">
    <div class="logo__image">
      <!--<img src="../images/logo__image.png" alt="logo" class="logo__item">-->
      <div class="logo__item"></div>
    </div>

    <div id="menu-sidebar">
      <div class="select__block">
        <a routerLink="/home" class="select__item" *ngIf="isAdmin">Home</a>
        <a routerLink="/transactions-date" class="select__item">Daily Transactions</a>
        <a href="#" class="select__item">HK Goals</a>
        <div class="dropdown">
          <button class="dropbtn d-flex align-items-center justify-content-between">
            Inventory
            <div class="circle__block">
              <svg version="1.1" id="Capa_1" class="arrow__triangle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="292.362px" height="292.362px" viewBox="0 0 292.362 292.362" style="enable-background:new 0 0 292.362 292.362;"
	 xml:space="preserve">
                       <g>
                           <path d="M286.935,69.377c-3.614-3.617-7.898-5.424-12.848-5.424H18.274c-4.952,0-9.233,1.807-12.85,5.424
		C1.807,72.998,0,77.279,0,82.228c0,4.948,1.807,9.229,5.424,12.847l127.907,127.907c3.621,3.617,7.902,5.428,12.85,5.428
		s9.233-1.811,12.847-5.428L286.935,95.074c3.613-3.617,5.427-7.898,5.427-12.847C292.362,77.279,290.548,72.998,286.935,69.377z"/>
                       </g>
                   </svg>
            </div>
          </button>
          <div class="dropdown-content">
            <a routerLink="/room">Room H/K</a>
            <a routerLink="/maintenance">Maintenance</a>
            <a routerLink="/fb">F&B</a>
            <a routerLink="/fd-misc">FD/Misc</a>
          </div>
        </div>
        <a href="#" class="select__item">Activity Log</a>
        <a href="#" class="select__item">Payroll</a>
        <div class="dropdown">
          <button class="dropbtn d-flex align-items-center justify-content-between">
            Property Info
            <div class="circle__block">
              <svg version="1.1" id="Capa_1" class="arrow__triangle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="292.362px" height="292.362px" viewBox="0 0 292.362 292.362" style="enable-background:new 0 0 292.362 292.362;"
	 xml:space="preserve">
                       <g>
                           <path d="M286.935,69.377c-3.614-3.617-7.898-5.424-12.848-5.424H18.274c-4.952,0-9.233,1.807-12.85,5.424
		C1.807,72.998,0,77.279,0,82.228c0,4.948,1.807,9.229,5.424,12.847l127.907,127.907c3.621,3.617,7.902,5.428,12.85,5.428
		s9.233-1.811,12.847-5.428L286.935,95.074c3.613-3.617,5.427-7.898,5.427-12.847C292.362,77.279,290.548,72.998,286.935,69.377z"/>
                       </g>
                   </svg>
            </div>
          </button>
          <div class="dropdown-content">
            <a href="#">Vendors</a>
            <a href="#">Credentials</a>
            <a href="#">Employees</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn d-flex align-items-center justify-content-between">
            Upload
            <div class="circle__block">
              <svg version="1.1" id="Capa_1" class="arrow__triangle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="292.362px" height="292.362px" viewBox="0 0 292.362 292.362" style="enable-background:new 0 0 292.362 292.362;"
	 xml:space="preserve">
                       <g>
                           <path d="M286.935,69.377c-3.614-3.617-7.898-5.424-12.848-5.424H18.274c-4.952,0-9.233,1.807-12.85,5.424
		C1.807,72.998,0,77.279,0,82.228c0,4.948,1.807,9.229,5.424,12.847l127.907,127.907c3.621,3.617,7.902,5.428,12.85,5.428
		s9.233-1.811,12.847-5.428L286.935,95.074c3.613-3.617,5.427-7.898,5.427-12.847C292.362,77.279,290.548,72.998,286.935,69.377z"/>
                       </g>
                   </svg>
            </div>
          </button>
          <div class="dropdown-content">
            <a href="#">Bills/Misc</a>
            <a href="#">Forms</a>
          </div>
        </div>
        <a href="#" class="select__item" *ngIf="isAdmin" routerLink="/hotels">Properties</a>
        <a (click)="onLogout()"
           class="select__item">Logout</a>
      </div>
    </div>
  </div>
</section>


<section id="header">
  <div class="header__block">
    <div class="header__text">Home</div>
  </div>
</section>

<!--
<header>
  <div class="header">
    <div class="main-logo"></div>
    <span class="page-name">Home</span>
  </div>
</header>
-->
