<section id="logo" class="logo" [ngClass]="{'logo-hide':true}">
    <div class="image">
        <div class="col-md-6">
            <div class="main-logo"></div>
        </div>
    </div>
    <div id="menu-sidebar" *ngIf="noSuperAdmin">
        <div class="flex__item">
            <i class="fas fa-home"></i>
            <a routerLink="/home" class="select__item" *ngIf="isAdmin">Home</a>
        </div>


        <div class="flex__item">

            <i class="fas fa-credit-card"></i>
            <a routerLink="/transactions-date" class="select__item">Daily Transactions</a>
        </div>
        <!--<a routerLink="/houskeeping-data" class="select__item">HK Goals</a>-->
        <div class="flex__item">

            <i class="fas fa-book"></i>
            <div class="dropdown">
                <button class="dropbtn d-flex align-items-center justify-content-between">
         			<a class="select__item">Inventory</a>
					<i class="fas fa-chevron-right"></i>
          		</button>
                <div class="dropdown-content" style="padding-left: 50%;">
                    <div class="flex__item">
                        <i class="fas fa-bed"></i>
                        <a routerLink="/room">Room H/K</a>
                    </div>
                    <div class="flex__item">
                        <i class="fas fa-wrench"></i>
                        <a routerLink="/maintenance">Maintenance</a>
                    </div>
                    <div class="flex__item">
                        <i class="fas fa-utensils"></i>
                        <a routerLink="/fb">F&B</a>
                    </div>
                    <div class="flex__item">
                        <i class="fas fa-desktop"></i>
                        <a routerLink="/fd-misc">FD/Misc</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex__item">

            <i class="fas fa-comments"></i>
            <a routerLink="/activity-chat" class="select__item">Activity Log</a>
        </div>
        <div class="flex__item">

            <i class="fas fa-hand-holding-usd"></i>
            <a routerLink="/payroll" class="select__item">Payroll</a>
        </div>
        <div class="flex__item">

            <i class="fas fa-people-carry"></i>
            <a routerLink="/hk" class="select__item">HK Goals</a>
        </div>
        <div class="flex__item property">

            <i class="fas fa-info-circle"></i>
            <div class="dropdown">
                <button class="  dropbtn d-flex align-items-center justify-content-between">
					 <a  class="select__item" >Property Info</a>
            		<i class="fas fa-chevron-right"></i>
          </button>
                <div class="dropdown-content">
                    <div class="flex__item">
                        <i class="fas fa-address-card"></i>
                        <a routerLink="/vendors">Vendors</a>
                    </div>
                    <div class="flex__item">
                        <i class="fas fa-key"></i>
                        <a routerLink="/credentials">Credentials</a>
                    </div>
                    <div class="flex__item">
                        <i class="fas fa-users"></i>
                        <a routerLink="/employee">Employees</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex__item">
            <i class="fas fa-cloud-upload-alt"></i>


            <div class="dropdown">
                <button class="dropbtn d-flex align-items-center justify-content-between">
					<a href="#" class="select__item">Upload</a>
    				<i class=" fa fas fa-chevron-right"></i>
        		</button>
                <div class="dropdown-content" style="padding-left: 75%;">
                    <div class="flex__item">
                        <i class="fas fa-file-alt"></i>
                        <a routerLink="/bills-misc">Bills/Misc</a>
                    </div>
                    <div class="flex__item">
                        <i class="fas fa-paperclip"></i>
                        <a routerLink="/forms">Forms</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex__item">
            <i class="fas fa-exchange-alt"></i>
            <a href="#" class="select__item" *ngIf="isAdmin" routerLink="/hotels">Properties</a>
        </div>
        <div class="flex__item">
            <i class="fas fa-dollar-sign"></i>
            <a href="#" class="select__item" *ngIf="isAdmin" routerLink="/rate-page">Rate Page</a>
        </div>
        <div class="flex__item">
            <i class="fas fa-sign-out-alt"></i>
            <a (click)="onLogout()" class="select__item" style="color:#b1d1ff">Logout</a>
        </div>
    </div>

</section>


<section id="header">
    <div class="header__block">
        <div class="header__text">{{stateTitle}}</div>
    </div>
</section>

<!--
<header>
  <div class="header">
    <div class="main-logo"></div>
    <span class="page-name">Home</span>
  </div>
</header>
-->