body {
    background: #0d0d0d !important;
    overflow-x: hidden;
}

.auth-container {
    width: 107%;
    background-color: #000000;
    height: 100vh;
    .login-cover {
        padding: 7% 0 0 1%;
    }
    .login-container {
        background: #000000;
        border: 4px solid #b1d1ff;
        border-radius: 59px;
        color: #000;
        margin: auto;
        width: 398px;
        width: 331px;
        .user-login-text {
            padding-left: 10%;
            font-weight: 200;
            color: #b1d1ff;
            margin-top: 12px;
            font-size: 30px;
        }
        .fa-user {
            padding-right: 10px;
            color: #b1d1ff;
        }
    }
    .row {
        width: 100%;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
    }
    .form-login {
        padding: 4px;
        /* float: right; */
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 14%;
        .user-name {
            margin-bottom: 20px;
        }
        .password {
            margin-bottom: 20px;
        }
    }
    .forget-password {
        display: flex;
        justify-content: flex-end;
        .anchor-default {
            color: #b1d1ff;
            font-weight: 200;
            a {
                text-decoration: none;
                background-color: transparent;
            }
        }
    }
    .login {
        background: #b1d1ff;
        color: #000;
    }
    .image {
        padding-right: 10%;
    }
    .main-logo {
        background: url("../../images/aurum-logo-slogan.jpg");
        height: 511px;
        width: 555px;
    }
}


/*
.login-content {
  background: #120D0C;
  color: aliceblue;
  .login-form {

  }
  .login-logo {
  }
}
*/