<app-header></app-header>

<section id="main">
  <div class="main__block">
    <div class="user__component d-flex flex-column">
      <div class="user__text">
        <h1>Create New User</h1>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true" class="cros">&times;</span>
        </button>
      </div>
      <div class="user__block">
        <form action="#" class="user__form">
          <div class="name__block">
            <label for="name"><p>Name:</p></label>
            <input type="text" placeholder="" name="name" class="input" required>
          </div>
          <div class="email__block">
            <label for="email"><p>Email:</p></label>
            <input type="email" placeholder="" name="email" class="input" required>
          </div>
          <div class="pass__block">
            <label for="psw"><p>Password:</p></label>
            <input type="password" placeholder="" name="psw" class="input" required>
          </div>
        </form>
      </div>
      <button type="submit" class="confirm__user">
        Confirm New User
      </button>
    </div>
  </div>
</section>
