<app-header></app-header>

<section id="main">
    <div class="main__block">
        <!--///////////////////////////FILTER///////////////////////////////////-->
        <div class="search__block d-flex align-items-center justify-content-around">
            <div class="search__text__block d-flex flex-column">
                <p>Search History</p>
                <div class="search__buttons d-flex justify-content-center align-items-center">
                    <div class="date_button">
                        <a (click)="changeTable('date')" [ngClass]="{'dark-button':byDate}" class="button__item">By Date</a>
                    </div>
                    <div class="type_button">
                        <a (click)="changeTable('type')" [ngClass]="{'dark-button':byType}" class="button__item">By Employee</a>
                    </div>
                    <div *ngIf="archiveToggle==true && !byType && inventoryDates" class="type_button">
                        <a class="button__item" (click)="showArchive = !showArchive">Archive</a>

                    </div>
                    <div *ngIf="archiveToggle==false && !byType && inventoryDates" class="type_button">
                        <a class="button__item" (click)="updateItem();selectedDate=-1;showArchive=false;archiveToggle=true;"> Save Archive</a>
                    </div>
                </div>
            </div>

            <div class="search__date__block d-flex flex-column justify-content-center">
                <p class="date-range__title" style="color: darkslategray; font-style:normal;	
            opacity: 0.5;
            font-weight: 600;" [hidden]="!byDate">Select Date</p>
                <select class="custom-select" [(ngModel)]="dateOfItem" (change)="updateItemsByDate()" [hidden]="!byDate" style="width:50%;background-color:#F3F2F0; margin: 0 auto">
          <option selected>Select Date</option>
          <option *ngFor="let date of inventoryDates" value="{{date}}">{{date | date:'MM/dd/yy'}}</option>
        </select>
            </div>


            <div class="search__date-range__block d-flex justify-content-around align-items-center">
                <div class="d-flex flex-column">
                    <p class="date-range__title" [hidden]="!byType" style="color: darkslategray;opacity: 0.6;font-weight: 600; font-size:16px;">Select Type</p>
                    <select placeholder="Select Type" class="custom-select" [(ngModel)]="nameOfItem" [hidden]="!byType" (change)="updateItemsByType()">
               <option selected>Select Employee</option>
          <option *ngFor="let label of inventoryLabels" value="{{label}}">{{label}}</option>
        </select>
                </div>
                <div class="date-range__item d-flex justify-content-center align-items-center">
                    <input type="date" class="search__date__item" [(ngModel)]="dateFrom" [disabled]="!nameOfItem" [hidden]="!byType">
                    <p class="date-range__title" [hidden]="!byType" style=" margin-bottom:6em">Date Range</p>
                    <input type="date" class="search__date__item" [(ngModel)]="dateTo" [disabled]="!dateFrom" [hidden]="!byType">
                </div>
            </div>
        </div>
        <!--///////////////////////////BY TYPE///////////////////////////////////-->
        <div class="main__title d-flex align-items-center" *ngIf="!byDate && byType">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Employees</th>
                        <th scope="col" class="col__items" colspan="4">
                            {{nameOfItem}}
                        </th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <td scope="row" class="type"></td>
                        <td style="background-color: #F3F2F0;">
                            <p class="td-numb">RT</p>
                        </td>
                        <td style="background-color: #F3F2F0;">
                            <p class="td-numb">OT</p>
                        </td>
                        <td style="background-color: #F3F2F0;">
                            <p class="td-numb">DT</p>
                        </td>
                        <td style="background-color: #F3F2F0;">
                            <p class="td-numb">MT</p>
                        </td>
                    </tr>
                </thead>
                <ng-container *ngIf="currentItem">
                    <tr *ngFor="let item of currentItem.data | filterByDate: dateFrom: dateTo">
                        <td scope="row" class="type">{{item.date | date:'MM/dd/yy'}}</td>
                        <td>
                            <input class="cell_edit" [(ngModel)]="item.rt" disabled>
                        </td>
                        <td>
                            <input class="cell_edit" [(ngModel)]="item.ot" disabled>
                        </td>
                        <td>
                            <input class="cell_edit" [(ngModel)]="item.dt" disabled>
                        </td>
                        <td>
                            <input class="cell_edit" [(ngModel)]="item.mt" disabled>
                        </td>
                    </tr>
                </ng-container>
            </table>
            <div class="plus__circle" (click)="openNewProperty(contentNewProperty)">
                <i class="fas fa-plus"></i>
            </div>
        </div>
        <!--///////////////////////////DEFAULT///////////////////////////////////-->
        <div class="main__title d-flex align-items-center" *ngIf="!byType && inventoryDates">
            <table class="table table-bordered" id="table">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%;">Employees</th>
                        <th scope="col" class="col__items" colspan="4"  *ngFor="let date of inventoryDates.slice(dateIndex, dateIndex + 8); let i = index">
                            {{date | date:'MM/dd/yy'}}
                            <div style="display: inline;"  (click)="selectedDate = i"><i class="far fa-edit"></i></div>
                        </th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <td scope="row" class="type"></td>
                        <ng-container *ngFor="let date of inventoryDates.slice(dateIndex, dateIndex + 8)">
                            <td style="background-color: #F3F2F0;">
                                <p class="td-numb">RT</p>
                            </td>
                            <td style="background-color: #F3F2F0;">
                                <p class="td-numb">OT</p>
                            </td>
                            <td style="background-color: #F3F2F0;">
                                <p class="td-numb">DT</p>
                            </td>
                            <td style="background-color: #F3F2F0;">
                                <p class="td-numb">MT</p>
                            </td>
                        </ng-container>
                    </tr>
                </thead>
              
                <tr *ngFor="let label of inventoryLabels">
                    <ng-container *ngIf="!inventoryItems.payroll[label].archive">
                        <td scope="row" class="type" id="fname">
                            <input class="checkbox" type="checkbox"   [(ngModel)] = "inventoryItems.payroll[label].archive" value="onoffswitch" id='checkMe' *ngIf="showArchive" (change)="archiveToggle=false;"> {{label}}
                        </td>
                        <ng-container id="t-data" *ngFor="let item of inventoryItems.payroll[label].data.slice(dateIndex, dateIndex + 8); let i = index">
                            <td>
                                <input class="cell_edit" [disabled]="selectedDate != i" [(ngModel)]="item.rt">
                            </td>
                            <td>
                                <input class="cell_edit" [disabled]="selectedDate != i" [(ngModel)]="item.ot">
                            </td>
                            <td>
                                <input class="cell_edit" [disabled]="selectedDate != i" [(ngModel)]="item.dt">
                            </td>
                            <td>
                                <input class="cell_edit" [disabled]="selectedDate != i" [(ngModel)]="item.mt">
                            </td>
                        </ng-container>
                    </ng-container>
                </tr>
                <tr *ngFor="let label of inventoryLabels" class="archive">
                        <ng-container *ngIf="inventoryItems.payroll[label].archive && showArchive" >
                            <td scope="row" class="type" id="fname">
                                <input class="checkbox" type="checkbox" value="onoffswitch" id='checkMe' [(ngModel)]="inventoryItems.payroll[label].archive" *ngIf="showArchive" (change)="archiveToggle=false;"> {{label}}
                            </td>
                            <ng-container id="t-data" *ngFor="let item of inventoryItems.payroll[label].data.slice(dateIndex, dateIndex + 8); let i = index">
                                <td>
                                    <input class="cell_edit" [disabled]="selectedDate != i" [(ngModel)]="item.rt">
                                </td>
                                <td>
                                    <input class="cell_edit" [disabled]="selectedDate != i" [(ngModel)]="item.ot">
                                </td>
                                <td>
                                    <input class="cell_edit" [disabled]="selectedDate != i" [(ngModel)]="item.dt">
                                </td>
                                <td>
                                    <input class="cell_edit" [disabled]="selectedDate != i" [(ngModel)]="item.mt">
                                </td>
                            </ng-container>
                        </ng-container>
                    </tr>
            </table>
            <div class="save__btn" *ngIf="selectedDate != -1" (click)="updateItem();selectedDate=-1">
                <button class="add__btn">Save</button>
            </div>
            <div class="plus__circle" *ngIf="selectedDate == -1" (click)="openNewProperty(contentNewProperty)">
                <i class="fas fa-plus"></i>
            </div>

        </div>

        <!--POPUP ADD PROPERTY FORM-->
        <ng-template #contentNewProperty let-c="close" let-d="dismiss" class="modal-lg">
            <div class="modal-container" style="width: 800px; background: white;">
                <form class="main__block" [formGroup]="form" (submit)="saveFormInput()" #f="ngForm">
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="cros">&times;</span>
          </button>
                    <div class="user__component d-flex flex-column">
                        <div class="user__block">
                            <div class="user__block__header d-flex justify-content-between align-items-center">
                                <div class="user__text">
                                    <p>Add Employee</p>
                                </div>
                                <div class="select__date d-flex justify-content-center align-items-center">
                                    <div>Select Date:</div>
                                    <input type="date"  (change)="dateChangeOnAdd()" style="width:170px;"  class="search__date__item" formControlName="date" required placeholder="">
                                </div>
                            </div>
                            <form formArrayName="inventories" *ngFor="let item of form.get('inventories').controls; let i=index" class="user__array_form">
                                <table>
                                    <tr *ngIf="i==0">
                                            <td style="background-color: #F3F2F0;">
                                                    <p class="td-numb">Employee</p>
                                                </td>
                                        <td style="background-color: #F3F2F0;">
                                                <p class="td-numb">RT</p>
                                            </td>
                                            <td style="background-color: #F3F2F0;">
                                                <p class="td-numb">OT</p>
                                            </td>
                                            <td style="background-color: #F3F2F0;">
                                                <p class="td-numb">DT</p>
                                            </td>
                                            <td style="background-color: #F3F2F0;">
                                                <p class="td-numb">MT</p>
                                            </td>
                                        </tr>
                                    <tr [formGroupName]="i">
                                        <td><input type="text" formControlName="item" id="item" name="item" placeholder="Employee" class="input"></td>
                                        <td><input type="text" formControlName="rt" id="rt" name="rt" placeholder="Regular" class="input"></td>
                                        <td><input type="text" formControlName="ot" id="ot" name="ot" placeholder="Over" class="input"></td>
                                        <td><input type="text" formControlName="dt" id="dt" name="dt" placeholder="Double" class="input"></td>
                                        <td><input type="text" formControlName="mt" id="mt" name="mt" placeholder="Missed" class="input"></td>
                                    </tr>
                                </table>
                            </form>
                            <div class="add__item__block" (click)="addFormInput()">
                                <button type="button" class="add__item__btn">
                  Add Item
                </button>
                            </div>
                            <div *ngIf="dateExists" class="alert alert-danger">
                                    {{dateExistsErrorMessage}}
                                </div>  
                            <div class="save__btn">
                                <button class="add__btn" [disabled]="form.invalid">Save</button>
                               
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </ng-template>
    </div>
</section>