<app-header></app-header>

<section id="main">
  <div class="main__block">
    <div class="main__title d-flex align-items-center">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col" class="col__items">3-19
          </th>
          <th scope="col" class="col__items">3-20
          </th>
          <th scope="col" class="col__items">3-21
          </th>
          <th scope="col" class="col__items">3-22
          </th>
          <th scope="col" class="col__items">3-23
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td scope="row" class="type">1</td>
          <td>
            <p class="td-numb">$98</p>
            <input type="text" class="td-input" placeholder="">
          </td>
          <td>
            <p class="td-numb">$98</p>
            <input type="text" class="td-input" placeholder="$0.00">
          </td>
          <td>
            <p class="td-numb">$106</p>
            <input type="text" class="td-input" placeholder="$3,349.95">
          </td>
          <td>
            <p class="td-numb">$40</p>
            <input type="text" class="td-input" placeholder="$406.67">
          </td>
          <td>
            <p class="td-numb">$3</p>
            <input type="text" class="td-input" placeholder="$3,349.95">
          </td>
        </tr>
        <tr>
          <td scope="row" class="type">2</td>
          <td>
            <p class="td-numb">200$</p>
            <input type="text" class="td-input" placeholder="">
          </td>
          <td>
            <p class="td-numb">$3</p>
            <input type="text" class="td-input" placeholder="$3,349.95">
          </td>
          <td>
            <p class="td-numb">$535</p>
            <input type="text" class="td-input" placeholder="$535.34">
          </td>
          <td>
            <p class="td-numb">$535.34</p>
            <input type="text" class="td-input" placeholder="$535.34">
          </td>
          <td>
            <p class="td-numb">$535.34</p>
            <input type="text" class="td-input" placeholder="$535.34">
          </td>
        </tr>
        <tr>
          <td scope="row" class="type">3</td>
          <td>
            <p class="td-numb">$300</p>
            <input type="text" class="td-input" placeholder="">
          </td>
          <td>
            <p class="td-numb">$535</p>
            <input type="text" class="td-input" placeholder="$535.34">
          </td>
          <td>
            <p class="td-numb">$535</p>
            <input type="text" class="td-input" placeholder="$535.34">
          </td>
          <td>
            <p class="td-numb">$870</p>
            <input type="text" class="td-input" placeholder="870.86">
          </td>
          <td>
            <p class="td-numb">$535</p>
            <input type="text" class="td-input" placeholder="$535.34">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
