<app-header></app-header>

<section id="main">
    <div class="main__block">
        <div class="main__table">
            <div class="table__block" *ngFor="let employee of employees" (click)="setEmployees(employee.id)">
                <div class="text__block__btn d-flex ">
                    <span><h3>{{employee.data.name}}</h3></span>
                    <button class="btn__item" style=" margin-top:9%;" (click)="deleteEmployee(employee.id)">Delete</button>
                </div>
                <div class="email__block">
                    <p class="text__block__email">Contact Phone:</p>
                    <span class="email__name">{{employee.data.phone}}</span>
                </div>
                <div class="email__block">
                    <p class="text__block__email">Email:</p>
                    <span class="email__name">{{employee.data.email}}</span>
                </div>
            </div>
            <div class="plus__circle" (click)="openNewProperty(contentNewProperty);">
                <i class="fas fa-plus"></i>
            </div>

        </div>
    </div>

    <!--POPUP ADD PROPERTY FORM-->
    <ng-template #contentNewProperty let-c="close" let-d="dismiss" class="modal-lg">
            <div class=" main__block user__component d-flex flex-column">
                    <div class="user__text">    
                <h1>Create New Employee</h1>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true" class="cros">&times;</span>
        </button>
            </div>
            <div>
                <form action="#" class="user__form d-flex flex-column" (ngSubmit)="getEmployees(f)" #f="ngForm">
                    <table>
                        <tr>
                            <td><label for="Employee Name"><p> Name</p></label></td>
                            <td><input type="text" id="name" [(ngModel)]="name" placeholder="" name="name" class="form-control" required></td>
                        </tr>
                        <tr>
                            <td><label for="Employee Phone"><p> Phone</p></label></td>
                            <td> <input type="text" id="phone" [(ngModel)]="phone" placeholder="" name="phone" class="form-control" required></td>
                        </tr>
                        <tr>
                            <td><label for="Employee Email"><p> Email</p></label></td>
                            <td><input type="email" id="email" [(ngModel)]="email" placeholder="" name="email" class="form-control" required></td>
                        </tr>
                    </table>
                    <button type="submit" class="confirm__user" (click)="addNewEmployee(f);closeModal=1;" value="submit">Save Employee</button>

                </form>
            </div>
        </div>
    </ng-template>

</section>