<app-header></app-header>
<section id="main">
    <div class="main__block">
        <div class="main__table">
            <div class="table__block" *ngFor="let credential of credentials" (click)="setCredentials(credential.id)">
                <div class="text__block__btn d-flex">
                    <span style=" padding-top:7%;"><h3>{{credential.data.name}}</h3></span>
                    <button class="btn__item" style=" margin-top:9%;" (click)="deleteCredential(credential.id)">Delete</button>
                </div>
                <div class="email__block">
                    <p class="text__block__email">Link:</p>
                    <span class="email__name">{{credential.data.Link}}</span>
                </div>
                <div class="email__block">
                    <p class="text__block__email">Username:</p>
                    <span class="email__name">{{credential.data.username}}</span>
                </div>
                <div class="email__block">
                    <p class="text__block__email">Password:</p>
                    <span class="email__name">{{credential.data.Password}}</span>
                </div>
            </div>
            <div class="plus__circle" (click)="openNewProperty(contentNewProperty);">
                <i class="fas fa-plus"></i>
            </div>
        </div>
    </div>

    <!--POPUP ADD PROPERTY FORM-->
    <ng-template #contentNewProperty let-c="close" let-d="dismiss" class="modal-lg">
            <div class=" main__block user__component d-flex flex-column">
                    <div class="user__text">    
                <h1>Add Credential Information</h1>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true" class="cros">&times;</span>
        </button>
            </div>
            <div>
                <form action="#" class="user__form d-flex flex-column" (ngSubmit)="getCredential(f)" #f="ngForm">
                    <table>
                        <tr>
                            <td><label for="Name"><p>Name</p></label></td>
                            <td><input type="text" id="name" [(ngModel)]="name" placeholder="" name="name" class="from-control" required></td>
                        </tr>
                        <tr>
                            <td><label for="Link"><p>Link</p></label></td>
                            <td><input type="text" id="link" [(ngModel)]="link" placeholder="" name="Link" class="from-control" required></td>
                        </tr>
                        <tr >
                            <td><label for="Username"><p>Username</p></label></td>
                            <td><input type="text" id="username" [(ngModel)]="username" placeholder="" name="username" class="from-control" required></td>
                        </tr>
                        <tr>
                            <td><label for="Password"><p>Password</p></label></td>
                            <td><input type="text" id="password" [(ngModel)]="password" placeholder="" name="Password" class="from-control" required></td>
                        </tr>
                    </table>
                    <button type="submit" class="confirm__user" (click)="addNewCredentials(f);closeModal=1;" value="submit">Save Vendor</button>
                </form>
            </div>
        </div>
    </ng-template>
</section>