<app-header></app-header>
<section id="main">
    <div class="main__block">
        <div class="main__table">
            <div class="table__block" *ngFor="let credential of credentials" (click)="setCredentials(credential.id)">
                <div class="text__block__btn d-flex">
                    <span style=" padding-top:7%;"><h3>{{credential.data.name}}</h3></span>
                    <button class="btn__item" style=" margin: 0 0 9% 36%;" (click)="deleteCredential(credential.id)">Delete</button>
                </div>
                <div class="email__block">
                    <p class="text__block__email">Link:</p>
                    <span class="email__name">{{credential.data.Link}}</span>
                </div>
                <div class="email__block">
                    <p class="text__block__email">Username:</p>
                    <span class="email__name">{{credential.data.username}}</span>
                </div>
                <div class="email__block">
                    <p class="text__block__email">Password:</p>
                    <span class="email__name">{{credential.data.Password}}</span>
                </div>
            </div>
            <div class="plus__circle" (click)="openNewProperty(contentNewProperty);closeModal=0;">
                <i class="fas fa-plus"></i>
            </div>
        </div>
    </div>

    <!--POPUP ADD PROPERTY FORM-->
    <ng-template #contentNewProperty let-c="close" let-d="dismiss">
        <div *ngIf="closeModal==0;" class="user__component d-flex flex-column">
            <div class="user__text">
                <h1>Add Credential Information</h1>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true" class="cros">&times;</span>
        </button>
            </div>
            <div class="user__block">
                <form action="#" class="user__form d-flex flex-column" (ngSubmit)="getCredential(f)" #f="ngForm">
                    <div class="name__block">
                        <label for="Name"><p>Name</p></label>
                        <input type="text" id="name" [(ngModel)]="name" placeholder="" name="name" class="input_user" required>
                    </div>
                    <div class="name__block">
                        <label for="Link"><p>Link</p></label>
                        <input type="text" id="link" [(ngModel)]="link" placeholder="" name="Link" class="input_user" required>
                    </div>
                    <div class="name__block">
                        <label for="Username"><p>Username</p></label>
                        <input type="text" id="username" [(ngModel)]="username" placeholder="" name="username" class="input_user" required>
                    </div>
                    <div class="name__block">
                        <label for="Password"><p>Password</p></label>
                        <input type="text" id="password" [(ngModel)]="password" placeholder="" name="Password" class="input_user" required>
                    </div>
                    <button type="submit" class="confirm__user" (click)="addNewCredentials(f);closeModal=1;" value="submit">Save Vendor</button>
                </form>
            </div>
        </div>
    </ng-template>
</section>