
<div class="search__block d-flex align-items-center justify-content-around">

  <div class="search__text__block d-flex flex-column">
    <p>Search Transaction History</p>
    <div class="search__buttons d-flex justify-content-center align-items-center">
      <div class="date_button">
        <a routerLink="/transactions-date" class="button__item">By Date</a>
      </div>
      <div class="type_button">
        <a routerLink="/transactions-type" class="button__item">By Type</a>
      </div>
    </div>
  </div>

  <div class="search__date__block d-flex flex-column justify-content-center">
    <div class="search__date__item"></div>
    <p>Previous date entries from</p>
    <p>date selected will also show</p>
  </div>


  <div class="search__date-range__block d-flex justify-content-around align-items-center">
    <select class="custom-select">
      <option selected>Select Type</option>
      <option value="1">Visa</option>
      <option value="2">Amex</option>
      <option value="3">Checks</option>
    </select>
    <div class="date-range__item d-flex justify-content-center align-items-center">
      <mat-form-field class="datepicker-form">
        <input matInput [matDatepicker]="picker1" placeholder="" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <p class="date-range__title">Date Range</p>

      <mat-form-field class="datepicker-form">
        <input matInput [matDatepicker]="picker2" placeholder="" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <!--<div class="search__date__item">12/4/17</div>
      <p class="date-range__title">Date Range</p>
      <div class="search__date__item">12/4/17</div>-->
    </div>
  </div>
</div>
<hr>

