/*Specification*/

$primary-color:        #0d0d0d;
$title-color:          #E8E721;
$color-fff:             #fff;
$font-main:            Helvetica Neue;
$font-thin:            HelveticaNeue Thin;
$font-gray:            #707070;
$font-gray4:           #F3F2F0;
$font-bold:            700;
$font-sz-12:           12px;
$font-gray2:           #575652;
$font-gray3:           #E6E5E2;

/*@font-face {
  font-family: HelveticaNeue Thin;
  src: url("../../fonts/HelveticaNeue Thin.ttf") format("opentype");
}
@font-face {
  font-family: Helvetica Neu Bold;
  src: url("../../fonts/Helvetica Neu Bold.ttf") format("opentype");
}*/

body {
  font-family: $font-main, Helvetica,  Arial,sans-serif;
  overflow-x: hidden;
  height: 100vh;
}
a , a:hover {
  text-decoration: none;
  outline: none;
  color: $primary-color;
}
hr {
  width: 100%;
  background-color: $font-gray;
  margin: 0;
  height: 1px;
  opacity: 0.5;
}

/*#main {
  padding: 55px 0 0 72px;
}
.main__block {
  border: 20px solid $font-gray;
  position: relative;
  height: calc(100vh - 55px);
  overflow-y: auto;
}*/
.search__block {
  padding: 20px;
  .search__text__block {
    p {
      font-size: 15px;
    }
  }
  .type_button {
    margin-left: 15px;
  }
  .button__item {
    font-size: 16px;
    border:  1px solid $font-gray;
    padding: 6px 15px;
    width: 20%;
    text-align: center;
    border-radius: 50px;
    background-color: $color-fff;
    box-shadow: 0 4px 5px -2px #000;;
  }
  .button__item:hover {
    background-color: $font-gray;
    color: $color-fff;
  }
  .search__date__block {
    border-radius: 60px;
    width: 300px;
    height: 120px;
    border: 1px solid $font-gray;
    box-shadow: 0 4px 5px -2px #000;
    .search__date__item {
      border: 1px solid $font-gray;
      width: 110px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      font-size: 14px;
      font-weight: $font-bold;
      background-color: $font-gray4;
    }
    p {
      text-align: center;
      margin: 10px 0 0 0;
      font-size: 10px;
      font-style: italic;
      line-height: 5px;
    }
  }
  .search__date-range__block {
    background-color: $font-gray4;
    border-radius: 60px;
    width: 40%;
    height: 120px;
    border: 1px solid $font-gray;
    box-shadow: 0 4px 5px -2px #000;
    .custom-select {
      width: 30%;
      background: gray;
      color: $primary-color;
    }
    .custom-select:focus {
      text-decoration: none;
      outline: none;
      border: none;
    }
  }
  .date-range__item {
    .search__date__item {
      border: 1px solid $font-gray;
      width: 80px;
      height: 35px;
      font-size: 12px;
      font-weight: $font-bold;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .date-range__title {
      color: $font-gray;
      margin-bottom: 4rem;
      opacity: 0.5;
      font-weight: $font-bold;
    }
  }
  .datepicker-form {
    width: 97px;
  }
}

//==========media screen===========
@media screen and (max-width:1199px){
  .search__block .search__date__block {
    width: 200px;
  }
  .search__block .search__date-range__block .custom-select {
    width: 25%;
  }
  .search__date-range__block {
    width: 50%!important;
  }
}
@media screen and (max-width:1024px){
  .search__block {
    flex-direction: column;
    padding: 30px;
  }
  .search__text__block {
    margin-bottom: 30px;
  }
  .search__block .search__date__block {
    width: 300px;
    margin-bottom: 30px;
  }
  .search__date-range__block {
    width: 500px!important;
  }
}
@media screen and (max-width:768px){
  .search__date-range__block {
    width: 315px !important;
    height: auto!important;
    padding: 0 6px;
    margin-left: 20px;
    flex-direction: column;
  }
  .search__block .search__date__block {
   width: 230px;
  }
  .custom-select {
    width: 41% !important;
    margin: 15px 0;
  }
}
@media screen and (max-width:425px){
  .search__block .search__text__block p {
    font-size: 12px;
  }
  .button__item {
    font-size: 10px!important;
  }
  .search__block .search__date__block {
    width: 200px;
  }
  .date-range__item {
    flex-direction: column;
  }
  .date-range__title {
    margin-bottom: 0!important;
  }
  .search__date-range__block {
    width: 185px !important;
    margin-left: 0!important;
  }
  .custom-select {
    width: 71% !important;
  }
}