<!--
<app-header></app-header>

<section id="main">

  <div class="main__block">
    <app-inventory-header></app-inventory-header>

    &lt;!&ndash;<ng-container *ngFor="let label of inventoryLabels">
      <p class="type__money">{{ label }}</p>
      </ng-container>&ndash;&gt;
    <p class="type__money">Name</p>

      <div class="main__title d-flex align-
          <tbody>items-center">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col" class="col__items" colspan="2" *ngFor="let date of inventoryDates">
              {{date | date:'yyyy/dd/MM'}}
              <i class="far fa-edit"></i>
            </th>
          </tr>
          </thead>
          <thead>
          <tr>
            <td scope="row" class="type"></td>
            <ng-container *ngFor="let date of inventoryDates">
              <td>
                <p class="td-numb">Had</p>
              </td>
              <td>
                <p class="td-numb">Needed</p>
              </td>
            </ng-container>
          </tr>
          </thead>
          <tr *ngFor="let label of inventoryLabels">
            <td scope="row" class="type">{{label}}</td>
            <ng-container *ngFor="let item of inventoryItems.room[label]">
              <td>
                <input class="td-numb" [(ngModel)]="item.have" (change)="updateRooms()">
              </td>
              <td>
                <input class="td-numb" [(ngModel)]="item.need" (change)="updateRooms()">
              </td>
            </ng-container>
          </tr>
        </table>
      </div>

     &lt;!&ndash; <ng-container *ngFor="let label of inventoryLabels">
      <p class="type__money">{{ label }}</p>
      </ng-container>
      <div class="main__title d-flex align-items-center">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Value</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td scope="row" class="date__money">12/02/17</td>
            <td>$3,349.95</td>
          </tr>
          <tr>
            <td scope="row" class="date__money">12/03/17</td>
            <td>$3,349.95</td>
          </tr>
          <tr>
            <td scope="row" class="date__money">12/04/17</td>
            <td>$3,349.95</td>
          </tr>
          <tr>
            <td scope="row" class="date__money">12/04/17</td>
            <td>$3,349.95</td>
          </tr>
          </tbody>
        </table>
      </div>&ndash;&gt;

  </div>

</section>
-->
