/*Specification*/

$primary-color:        #0d0d0d;
$title-color:          #E8E721;
$font-main:            Helvetica Neue;
$font-thin:            HelveticaNeue Thin;
$font-gray:            #707070;
$font-bold:            700;
$font-sz-12:           12px;
$font-gray4:          #F3F2F0;
$font-gray2:          #575652;
$color-fff:           #fff;

/*@font-face {
  font-family: HelveticaNeue Thin;
  src: url("../../fonts/Helvetica Neu Bold.ttf") format("opentype");
}
@font-face {
  font-family: Helvetica Neu Bold;
  src: url("../../fonts/Helvetica Neu Bold.ttf") format("opentype");
}*/
body {
  font-family: $font-main, Helvetica,  Arial,sans-serif;
  overflow-x: hidden;
  height: 100vh;
}
a , a:hover {
  text-decoration: none;
  color: $primary-color;
  outline: none;
}
a:hover {
  text-shadow: 1px 0 10px #0d0d0d, 1px 1px 3px yellow;;
}

#logo { 
  background: #0d0d0d;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  .logo__item {
    background: url("../images/logo__image.png");
    height: 72px;
    width: 72px;
  }
}

#header {
  width: auto;
  background: $primary-color;
  height: 55px;
  margin-left: 72px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .header__text {
    color: $title-color;
    font-size: 28px;
    padding: 8px 8px 8px 25px;
    text-transform: uppercase;
  }
}
#header:hover {
  z-index: 999;
}

img {
  width: 100%;
  height: 200px;
  background-size: cover;
}
hr {
  width: 100%;
  background-color: $primary-color;
  margin: 0;
}

button, button:hover {
  text-decoration: none;
  color: $title-color;
  outline: none;
  font-size: 14px;
  cursor: pointer;
}
label {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 1.5rem;
}
input:focus {
  text-decoration: none;
  outline: none;
}
#logo {
  background: #0d0d0d;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
}
#header {

  background: $primary-color;
  height: 55px;
  margin-left: 72px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-weight: $font-bold;
  .header__text {
    color: $title-color;
    font-size: 28px;
    padding: 8px 8px 8px 25px;
    text-transform: uppercase;
  }
}
#main {
  padding: 55px 0 0 72px;
}
.main__table {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .table__link__item {
    font-size: 20px;
    font-weight: 600;
  }
}
.main__block {
  border: 20px solid $font-gray;
  position: relative;
  height: calc(100vh - 55px);
  overflow-y: auto;
  .main__title h2 {
    text-align: center;
    margin-top: 40px;
  }
  .table__block {
    border: 2px solid black;
    width: 350px;
    border-radius: 5px;
    padding: 1% 1% 1% 1%;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
.plus__circle {
  margin: 20px 0 3px 40px;
  cursor: pointer;
}


/*addNewHotelPopup*/
#user {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}

.add_property_block{
    border: 10px solid #b1d1ff;
    position: relative;
    // height: calc(100vh - 55px);
    overflow-y: auto;
    padding:30px;
}

.save_button{
  font-size: 26px;
  border: 1px solid $color-fff;
  padding: 0 20px; 
  text-align: center;
  border-radius: 15px;
  background-color: $primary-color;
  color: $color-fff;
  font-weight: $font-bold;
  cursor: pointer;
  margin:15px auto;
}
.image_button {
  font-size: 13px;
  border: 1px solid $color-fff;
  padding: 0 20px; 
  text-align: center;
  border-radius: 15px;
  background-color: #ccc;
  color: yellow;
  font-weight: $font-bold;
  cursor: pointer;
  margin:15px auto;
}

.user__block {
  width: 600px;
  height: 350px;
  border: 1px solid #000;
  margin: 20px auto 0 auto;
  border-radius: 3px;
}
.user__block__header {
  padding: 15px;
  .close {
    color: $primary-color;
    .cros {
      font-size: 30px;
      margin-right: 30px;
    }
  }
}
.user__text p {
  margin-left: 21px;
  margin-top: 20px;
  margin-bottom: 1rem;
}
// .user__form {
//   margin-top: 15px;
//   padding: 20px;
// }
.user__form {   
  // display: flex;
  justify-content: center;
  align-items: center;
  .select__date {
      margin-top: 10px;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      width: 360px;
  }
  .search__date__item {
      border: 1px solid $font-gray;
      width: 100px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: $font-bold;
      background-color: $font-gray4;
      margin-left: 37px;
      box-shadow: 0 4px 5px -2px #000;
  }
  .input__transaction {
      margin-top: 20px;
  }
  .td-input {
      width: 200px;
      height: 35px;
      padding-left: 8px;
      color: $primary-color;
      font-size: 20px;
      text-align: center;
      font-weight: $font-bold;
      box-shadow: 0 4px 5px -2px #000;
  }
  .td-input:nth-child(2) {
      margin-left: 20px;
  }
   ::placeholder {
      color: $font-gray2;
      font-size: 20px;
      text-align: center;
      font-weight: $font-bold;
  }
  input:focus {
      outline: none;
  }
  // .save__btn {
  //     .button__item {
  //         font-size: 26px;
  //         border: 1px solid $color-fff;
  //         padding: 0 20px;
  //         width: 120px;
  //         text-align: center;
  //         border-radius: 15px;
  //         background-color: $primary-color;
  //         color: $color-fff;
  //         font-weight: $font-bold;
  //         cursor: pointer;
  //         margin-top: 30px;
  //     }
  // }
   .save__btn {
      .button__item {
          font-size: 26px;
          border: 1px solid $color-fff;
          padding: 0 20px;
          width: 120px;
          text-align: center;
          border-radius: 15px;
          background-color: $primary-color;
          color: $color-fff;
          font-weight: $font-bold;
          cursor: pointer;
      }
  }
}
.city__block {
  input {
    margin-left: 10px;
    margin-top: 0;
  }
}
.name__block {
  input {
    margin-left: 10px;
    margin-top: 0;
  }
}
.address__block {
  input {
    margin-left: 10px;
    margin-top: 0;
  }
}
.image__block {
  .image__btn {
    border: 1px solid $primary-color;
    background-color: $primary-color;
    color: $title-color;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 10px;
  }
}
.add__btn {
  border: 1px solid $primary-color;
  background-color: $primary-color;
  color: $title-color;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 0 auto;
  display: block;
}
.input {
  height: 35px;
  width: 370px;
  padding-left: 20px;
  border-radius: 5px;
  border: 1px solid $primary-color;
}
/*Media Screen*/
@media screen and (max-width: 872px){
  .main__table {
    justify-content: center;
  }
  .plus__circle {
    margin-left: 0;
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 535px){
  .table__block {
    max-width: 90%;
  }
  .main__title h2 {
    font-size: 25px;
  }
}
