:host {
    .plus__circle {
        svg {
            width: 3em;
        }
    }
    
    th input[type="text"]:disabled{
        background-color: #ffffff  !important;
    }
    th input[type="text"]:enabled {
        background-color: #ffffff !important;
    }
    .edit::disabled{
        background-color: #ffffff  !important;
    }
        
}