/*Specification*/

$primary-color:        #0d0d0d;
$title-color:          #E8E721;
$color-fff:             #fff;
$font-main:            Helvetica Neue;
$font-thin:            HelveticaNeue Thin;
$font-gray:            #707070;
$font-gray4:           #F3F2F0;
$font-bold:            700;
$font-sz-12:           12px;

body {
  font-family: $font-main, Helvetica,  Arial,sans-serif;
  overflow-x: hidden;
  height: 100vh;
}
a , a:hover {
  text-decoration: none;
  outline: none;
  color: $primary-color;
}
hr {
  width: 100%;
  background-color: $font-gray;
  margin: 0;
  height: 1px;
  opacity: 0.5;
}
#main {
  padding: 55px 0 0 72px;
}
.main__block {
  border: 20px solid $font-gray;
  position: relative;
  height: calc(100vh - 55px);
  overflow-y: auto;
}

.search__block {
  padding: 20px;
  .search__text__block {
    p {
      font-size: 15px;
    }
  }
  .type_button {
    margin-left: 15px;
  }
  .button__item {
    font-size: 16px;
    border:  1px solid $font-gray;
    padding: 6px 15px;
    width: 20%;
    text-align: center;
    border-radius: 50px;
    background-color: $color-fff;
    box-shadow: 0 4px 5px -2px #000;;
  }
  .button__item:hover {
    background-color: $font-gray;
    color: $color-fff;
  }
  .search__date__block {
    border-radius: 60px;
    width: 300px;
    height: 120px;
    border: 1px solid $font-gray;
    box-shadow: 0 4px 5px -2px #000;
    .search__date__item {
      border: 1px solid $font-gray;
      width: 110px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      font-size: 14px;
      font-weight: $font-bold;
      background-color: $font-gray4;
    }
    p {
      text-align: center;
      margin: 10px 0 0 0;
      font-size: 10px;
      font-style: italic;
      line-height: 5px;
    }
  }
  .search__date-range__block {
    background-color: $font-gray4;
    border-radius: 60px;
    width: 40%;
    height: 120px;
    border: 1px solid $font-gray;
    box-shadow: 0 4px 5px -2px #000;
    .custom-select {
      width: 30%;
      background: gray;
      color: $primary-color;
    }
    .custom-select:focus {
      text-decoration: none;
      outline: none;
      border: none;
    }
  }
  .date-range__item {
    .search__date__item {
      border: 1px solid $font-gray;
      width: 80px;
      height: 35px;
      font-size: 12px;
      font-weight: $font-bold;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .date-range__title {
      color: $font-gray;
      margin-bottom: 4rem;
      opacity: 0.5;
      font-weight: $font-bold;
    }
  }
}
.table {
  width: 600px;
  margin-top: 70px;
  margin-left: 30px;
  th {
    background-color: $font-gray4;
    text-align: center;
  }
  td {
    padding: 5px;
  }
  .type {
    width: 15%;
    text-align: center;
    vertical-align: middle;
  }
  .col__items {
    width: 105px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    font-size: 14px;
  }
  .fa-edit {
    color: gray;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    top: 2px;
  }
  .td-numb {
    text-align: center;
    margin: 5px;
    display: block;
  }
  .td-input {
    width: 80px;
    height: 40px;
    display: none;
    padding-left: 8px;
    color: $primary-color;
    font-size: 14px;
  }
  ::placeholder {
    color: $primary-color;
    font-size: 14px;
  }
  input:focus {
    outline: none;
  }
}
.plus__circle {
  margin-left: 25px;
  margin-bottom: 70px;
  cursor: pointer;
}
.save__button {
  position: relative;
  top: 160px;
  right: 20px;
  display: none;
  .button__item {
    font-size: 26px;
    border: 1px solid $color-fff;
    padding: 0 20px;
    width: 120px;
    text-align: center;
    border-radius: 15px;
    background-color: $primary-color;
    color: $color-fff;
    font-weight: $font-bold;
    cursor: pointer;
  }
  .button__item:focus {
    outline: none;
  }
}

//popup
.user__block {
  width: 600px;
  border: 1px solid #000;
  margin: 20px auto 0 auto;
  border-radius: 3px;
}
.user__block__header {
  padding: 15px;
  .close {
    color: $primary-color;
    .cros {
      font-size: 30px;
      margin-right: 30px;
    }
  }
}
.user__text p {
  margin: 0;
}
.select__date div {
  color: $font-gray;
}
.search__date__item {
  border: 1px solid $font-gray;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: $font-bold;
  background-color: $font-gray4;
  margin-left: 10px;
  box-shadow: 0 4px 5px -2px #000;
}
.user__form {
  margin-top: 15px;
  padding: 20px;
}
.name__block {
  input {
    margin-left: 30px;
  }
}
.add__item__block {
  .add__item__btn {
    border: 1px solid $primary-color;
    background-color: $primary-color;
    color: $title-color;
    border-radius: 3px;
    padding: 5px 10px;
  }
}
.add__btn {
  border: 1px solid $primary-color;
  background-color: $primary-color;
  color: $title-color;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 0 auto;
  display: block;
}
.input {
  height: 35px;
  width: 200px;
  padding-left: 20px;
  border-radius: 5px;
  border: 1px solid $primary-color;
}
//==========media screen===========
@media screen and (max-width:1199px){
  .search__block .search__date__block {
    width: 200px;
  }
  .search__block .search__date-range__block .custom-select {
    width: 25%;
  }
}
@media screen and (max-width: 425px) {
  .user__block {
    width: 90%;
    padding:20px;
    height: 400px;
  }
  .input {
    width: 44%;
  }
  .confirm__user {
    padding: 12px 20px;
  }
}
@media screen and (max-width: 392px) {
  .user__block {
    width: 90%;
    padding:20px;
  }
  .input {
    margin: 10px 0 0 32px;
  }
  .confirm__user {
    padding: 12px 20px;
  }
  .pass__block input {
    margin-top: 10px;
  }

}


