<app-header></app-header>


<section id="main">
    <div class="main__block">
        <!-- <div class="main__table" *ngFor="let bill of bills" (click)="setBills(bill.id)"> -->
        <div class="main__table" *ngFor="let bill of bills" (click)="openViewImg(contentViewImg)">
            <div class="table__block">
                <div class="name__block">
                    <p class="text__block__name">{{bill.data.name}}</p>
                </div>
                <div class="date__block">
                    <p class="text__block__date">{{bill.data.date}}</p>
                </div>
                <!--<div class="date__block">
          <img [src]="bill.data.image" alt="image">
          </div>-->
            </div>
            
            <ng-template #contentViewImg let-c="close" let-d="dismiss" class="modal-lg">            
                <iframe *ngIf="isPdf(bill.data.image)" [src]="bill.data.image | safe" class="main__block"></iframe>
                <a  download [href]="bill.data.image | safe"> <img controls *ngIf="!isPdf(bill.data.image)" [src]="bill.data.image | safe" [alt]="bill.data.name"  class="main__block"></a>
             </ng-template>

            <div class="table__block_btn">
                <div class="text__block__btn">
                    <button class="btn__item default" (click)="openViewImg(contentViewImg)">View</button>
                </div>
                <div class="text__block__btn">
                    <button class="btn__item default" (click)="downloadImage(bill)">Download</button>
                </div>
                <div class="text__block__btn">
                    <button class="btn__item danger" (click)="deleteBill(bill.id)">Delete</button>
                </div>
            </div>
        </div>
        <div class="plus__circle" (click)="openNewProperty(contentNewProperty);">
            <i class="fas fa-plus"></i>
        </div>
    </div>



    <!--POPUP ADD PROPERTY FORM-->
    <!-- <ng-template #contentNewProperty let-c="close" let-d="dismiss">
       
        <div class="user__component d-flex flex-column">
            <div class="user__text">
                <h1>Add a bill</h1>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true" class="cros">&times;</span>
                </button>
            </div>
            <div class="user__block">
                <form action="#" class="user__form d-flex flex-column" (ngSubmit)="getBill(f)" #f="ngForm">
                    <div class="name__block">
                        <label for="Select Date"><p>Select Date</p></label>
                        <input type="date" id="date" [(ngModel)]="date" placeholder="" name="date" class="input_user" required>
                    </div>
                    <div class="name__block">
                        <label for="Bill Name"><p>Bill Title</p></label>
                        <input type="text" id="name" [(ngModel)]="name" placeholder="" name="name" class="input_user" required>
                    </div>
                    <div class="name__block">
                        <label for="Attachment"><p>Attachment</p></label>
                        <input type="file" (change)="selectFile($event)" id="image" class="input_user" required>
                    </div>
                    <button type="submit" class="confirm__user" (click)="addNewBill(f);closeModal=1; " value="submit">Save Bill</button>

                </form>
            </div>
        </div>
    </ng-template> -->

    <ng-template #contentNewProperty let-c="close" let-d="dismiss">
       
            <div class="d-flex flex-column">
                    <div class="super__admin__block d-flex flex-column align-items-center create_admin_haader"> 
                            <h1> Add a bill</h1>   
                        </div> 
                <div class="panel">
                    <form action="#" [formGroup] = "form" class="d-flex flex-column form-group" (ngSubmit)="getBill()">
                        <table class="table table-bordered table-hover table-responisve" style="border: 1px solid #ddd !important;">
                            <tr>
                                <td><p>Select Date</p></td>
                                <td>
                                    <input type="date" formControlName="date" placeholder="" class="form-control" required>
                                    <div *ngIf="form.controls.date.invalid && (form.controls.date.dirty || form.controls.date.touched)" class="alert-danger">
                                       Date is required
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><p>Bill Title</p></td>
                                <td>
                                    <input type="text" formControlName="name" placeholder=""  class="form-control" required>
                                    <div *ngIf="form.controls.name.invalid && (form.controls.name.dirty || form.controls.name.touched)" class="alert-danger">
                                        Name is required
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><p>Attachment</p></td>
                                <td>
                                    <div class="image_button">
                                        <input type="file" (change)="selectFile($event)" id="image" class="form-control" required>
                                        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                            Uploaded {{progress.percentage}}%
                                    </div>
                                </td>
                                    
                            </tr>
                            <button type="submit" class="save_button" [disabled] = "form.invalid || progress.percentage!=100" (click)="addNewBill(f);closeModal=1; " value="submit">Save Bill</button>
                            <button type = "button" class="save_button" (click)="closeAddBillModal()">Close</button>
                        </table>
                    </form>
                </div>
            </div>
        </ng-template>

</section>