html, body {
  margin: 0;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica,  Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  background: #0d0d0d !important;
  overflow-x: hidden;
  color: #fff;

  }

