<app-header></app-header>

<section id="main">
  <div class="main__block">
    <!--<div id='left' class="message__block"><span class='first_m'><p class='center'>asdasd</p></span></div>
    <div id='right' class="message__block"><span class='time1'>12:40</span><span class='first_m'><p class='center'>asdasd</p></span></div>
    <div id='left' class="message__block"><span class='Raj1'>Raj</span><span class='first_l'><p class='center'>asdasd</p></span></div>
    <div id='right' class="message__block"><span class='Raj2'>Raj</span><span class='time3'>12:40</span><span class='first_l'><p class='center'>asdasd</p></span></div>
    <div id='left' class="message__block"><span class='Raj3'>Raj</span><span class='time4'>12:40</span><span class='first_l'><p class='center'>asdasd</p></span></div>
    <div id='right' class="message__block"><span class='time5'>12:40</span><span class='first_m'><p class='center'>asdasd</p></span></div>
    <div id='right' class="message__block"><input type='text' class="input" placeholder='Enter your message....'></div>
-->

    <div class="w-90 m-auto">
      <div class="message__block__cover"><div class="message__block right">BB machine was turned on in room 203 </div></div>
    <div class="message__block__cover"><div class="message__block right">BB machine was turned on in room 203</div></div>
      <div class="message__block__cover"><div class="left"><div class="message__block__sender">Raj</div><div class="message__block">BB machine was turned on in room 203</div></div></div>
      <div class="message__block__cover"><div class="left"><div class="message__block__sender">Raj</div><div class="message__block">BB machine was turned on in room 203</div></div></div>
      <div class="message__block__cover"><div class="left"><div class="message__block__sender">Raj</div><div class="message__block">BB machine was turned on in room 203</div></div></div>
    <div class="message__block__cover"><div class="message__block right">BB machine was turned on in room 203</div></div>
    </div>

    <div class="message__block__write"><div class="m-auto w-90">
      <input type="text" placeholder="Enter your messaage" name="message" class="input" required>
    </div></div>




  </div>
</section>
