<app-header></app-header>

<section id="main">
  <div #scroller class="main__block">
    <div class="w-90 m-auto message__history" (scroll)="setWheelState()" id = "message__history" ngx-auto-scroll >
     <div class="message__block__cover" *ngFor="let message of messages; let i = index" >
        <div class="message__block__item" [class.my-message]="checkMessagePosition(message.data.idOsManager)" *ngIf="checkMessagePosition(message.data.idOsManager)">
          <p>
            <span class="message_meta">
            <b> {{ message.data.managerId }} </b>
            {{message.data.author}}
            {{message.data.date}}
          </span>
          <span class="message__block">
            {{message.data.text}}
          </span>
        </p>
        </div>
        <div class="message__block__item" [class.my-message]="checkMessagePosition(message.data.idOsManager)" *ngIf="!checkMessagePosition(message.data.idOsManager)">
            <p>
              
            <span class="message__block">
                {{message.data.text}}
            </span>
            <span class="message_meta">
              <b> {{ message.data.managerId }} </b>
              {{message.data.author}}
              {{message.data.date}}
            </span>
          </p>
          </div>
        </div>
    </div>
    <div class="message__block__write">
        <div class="m-auto w-90">
          <form (keydown.enter)="onKey(form)" #form="ngForm">
            <input type="text" placeholder="Enter your message" class="input" ngModel name="text" required>
          </form>
        </div>
      </div>
  </div>
</section>
