/*Specification*/

$primary-color:        #0d0d0d;
$title-color:          #E8E721;
$color-fff:             #fff;
$font-main:            Helvetica Neue;
$font-thin:            HelveticaNeue Thin;
$font-gray:            #707070;
$font-gray4:           #F3F2F0;
$font-bold:            700;
$font-sz-12:           12px;
$font-gray2:           #575652;
$font-gray3:           #E6E5E2;

/*@font-face {
  font-family: HelveticaNeue Thin;
  src: url("../../fonts/HelveticaNeue Thin.ttf") format("opentype");
}
@font-face {
  font-family: Helvetica Neu Bold;
  src: url("../../fonts/Helvetica Neu Bold.ttf") format("opentype");
}*/

body {
  font-family: $font-main, Helvetica,  Arial,sans-serif;
  overflow-x: hidden;
  height: 100vh;
}
a , a:hover {
  text-decoration: none;
  outline: none;
  color: $primary-color;
}
hr {
  width: 100%;
  background-color: $font-gray;
  margin: 0;
  height: 1px;
  opacity: 0.5;
}
#main {
  padding: 55px 0 0 72px;
}
.main__block {
  border: 20px solid $font-gray;
 
  padding:0px;
 
}
.message__history{
  height: calc(100vh - 140px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-left:20px;
  padding-right:20px;
  
}
.input {
  height: 50px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid $primary-color;
  border-radius: 20px;
  margin:0 auto;
  box-shadow: 0 4px 5px -2px #000;
  background-color: $font-gray4;
}
.input:focus {
  text-decoration: none;
  outline: none;
}

.message_meta {
  opacity: 0.5;
}
.message__block {
  padding-top: 5px;
  padding-bottom:5px;
  padding-right:15px;
  padding-left:5px;
  // border: 1px solid #0d0d0d;
  border-radius: 20px;
  box-shadow: 0 4px 5px -2px #000;
  background-color: $font-gray4;
  display: inline-block;
}

.right {
  margin-left: auto

}
.left {
  margin-right: auto
}
.message__block__cover{
  width: 100%;
  padding-top: 1px;
  padding-bottom: 0;
}
.message__block__sender{
  width: 10%;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}
.message__block__write{
  
  top:calc(100vh-140px);
  bottom:10px;
  width:100%;
  padding: 10px;
}
.w-90{
  width: 100%;
}
.message__block.right{
  display: block;
}

//MEDIA SCREEN
@media screen and (max-width: 767px){
  .message__block {
    width: 100%;
  }
}
@media screen and (max-width: 465px){
  .main__block {
    border: 10px solid #707070;
  }
}
@media screen and (max-width: 375px){
  .main__block {
    border: 5px solid #707070;
  }
}

.message__block__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &.my-message{
    align-items: flex-end;
    text-align: right;
  }
}
.message__block__item.right {
  align-items: flex-end;
}
.message__block__item.left {
  align-items: flex-start;
}
