<app-header></app-header>

<section id="main">
  <div #scroller class="main__block">
    <div class="w-90 m-auto">




      <!--<div class="message__block__cover"><div class="message__block right">BB machine was turned on in room 203 </div></div>-->
   <!-- <div class="message__block__cover"><div class="message__block right">BB machine was turned on in room 203</div></div>
      <div class="message__block__cover"><div class="left"><div class="message__block__sender">Raj</div><div class="message__block">BB machine was turned on in room 203</div></div></div>
      <div class="message__block__cover"><div class="left"><div class="message__block__sender">Raj</div><div class="message__block">BB machine was turned on in room 203</div></div></div>
      <div class="message__block__cover"><div class="left"><div class="message__block__sender">Raj</div><div class="message__block">BB machine was turned on in room 203</div></div></div>-->
    <div class="message__block__cover" *ngFor="let message of messages | async">
        <p style="text-align: right">
         <b> {{ message.data.managerId }} </b><br>
          {{message.data.author}}
          {{message.data.date}}
        </p>
      <!--<div *ngIf="condition; then thenBlock else elseBlock"></div>-->
      <!--<ng-template #thenBlock>...</ng-template>-->
      <!--<ng-template #elseBlock>...</ng-template>-->


      <!--<h4>NgClass</h4>-->
      <!--<ul *ngFor="let person of people">-->
         <!--[ngClass]="{-->
    <!--'text-success':person.country === 'UK', 'text-primary':person.country === 'USA'}">-->
      <!--</ul>-->
      <div class="message__block right">
        {{message.data.text}}
      </div>
    </div>
    <!--<div class="message__block__cover"><div class="message__block right">{{messages}}</div></div>-->
    </div>

    <!--<ng-template #elseBlock>-->
      <!--<div class="message__block right">-->
        <!--{{messages.data.text}}-->
      <!--</div>-->
    <!--</ng-template>-->

    <div class="message__block__write">
      <div class="m-auto w-90">
        <form (keydown.enter)="onKey(form)" #form="ngForm">
          <input type="text" placeholder="Enter your message" class="input" ngModel name="text" required>
        </form>
      </div>
    </div>
  </div>
</section>
