<app-header></app-header>

<section id="main">

  <div class="main__block">
    <app-transactions-header></app-transactions-header>

    <p class="type__money">Amex</p>
    <div class="main__title d-flex align-items-center">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td scope="row" class="date__money">12/02/17</td>
          <td>$3,349.95</td>
        </tr>
        <tr>
          <td scope="row" class="date__money">12/03/17</td>
          <td>$3,349.95</td>
        </tr>
        <tr>
          <td scope="row" class="date__money">12/04/17</td>
          <td>$3,349.95</td>
        </tr>
        <tr>
          <td scope="row" class="date__money">12/04/17</td>
          <td>$3,349.95</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</section>
