<app-header></app-header>

<section id="main">
    <div class="main__block">

        <div class="search__block d-flex align-items-center justify-content-around">

            <div class="main__title d-flex align-items-center">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Admin Name</th>
                            <th scope="col" class="col__items">Admin Login Email</th>
                            <th scope="col" class="col__items">City/State</th>
                            <th scope="col" class="col__items">Phone #</th>
                            <th scope="col" class="col__items">No of property's</th>
                            <th scope="col" class="col__items">Active/Inactive</th>
                            <th scope="col" class="col__items">Delete ?</th>
                            <th scope="col" class="col__items">Password</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let admin of admins">
                        <tr>
                            <td scope="row" class="type">{{admin.data.name}}</td>
                            <td class="col__email">
                                <p class="td-numb">{{admin.data.email}}</p>
                            </td>
                            <td>
                                <p class="td-numb">{{admin.data.city}}</p>
                            </td>
                            <td>
                                <p class="td-numb">{{admin.data.phone}}</p>
                            </td>
                            <td>
                                <p class="td-numb">{{admin.data.number}}</p>
                            </td>
                            <td>
                                <p class="td-numb">{{admin.data.status}}</p>
                            </td>
                            <td>
                                <p class="td-numb"></p>
                                <div class="text__block__btn" (click)="deleteSuperAdmin(admin.id, admin.data.name, checkPasswordDelete)">
                                    <span class="btn__item">Delete</span>
                                </div>
                            </td>
                            <td>
                                <div class="text__block__btn" (click)="changePassword(admin.data.email)">
                                    <span class="btn__item">Reset password</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="plus__circle" (click)="openNewProperty(contentNewProperty);">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
        </div>
        <button type="submit" class="form__btn" (click)="onLogout()">
            Logout
        </button>
    </div>

    <!--POPUP ADD PROPERTY FORM-->
    <ng-template #contentNewProperty let-c="close" let-d="dismiss" class="modal-lg">
        <form class="add_admin_main__block" [formGroup]="form"  (ngSubmit)="addNewSuperAdmin()">
            <div class="panel"> 
                    <div class="super__admin__block d-flex flex-column align-items-center create_admin_haader"> 
                        <h1>Create an Admin</h1>   
                    </div>             
                    <table class="table table-bordered table-hover table-responisve" style="border: 1px solid #ddd !important;">
                                <tr>
                                    <td><p>Admin Name</p></td>
                                    <td>
                                        <input type="text" id="name" formControlName = "name" class = "form-control"  placeholder="">
                                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert-danger">
                                           Admin name is required
                                        </div>
                                    </td>
                                </tr>
                                <tr class="select__date">
                                    <td><p>Admin Login Email</p></td>                                    
                                    <td>
                                        <input type="text" id="email" formControlName="email" class = "form-control" placeholder="">
                                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert-danger">
                                            Admin login email is required
                                        </div>
                                    </td>
                                </tr>
                                <tr class="select__date">
                                    <td><p>Password</p></td>
                                    <td>
                                        <input type="password" id="password" formControlName="password" placeholder="" class = "form-control">
                                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert-danger">
                                            Password is required
                                        </div>
                                    </td>  
                                    
                                </tr>
                                <tr class="select__date">
                                    <td><p>City/State</p></td>
                                    <td>
                                        <input type="text" id="city" formControlName="city"  placeholder="" class = "form-control" class = "form-control">
                                        <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert-danger">
                                            City is required
                                        </div>
                                    </td>
                                </tr>
                                <tr class="select__date">
                                    <td><p>Phone #</p></td> 
                                    <td>
                                        <input type="text" id="phone" formControlName="phone" placeholder="" class = "form-control" class = "form-control">
                                        <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert-danger">
                                            Phone number is required
                                        </div>
                                    </td>
                                </tr>
                                <tr class="select__date">
                                    <td><p>No of property</p></td>
                                    <td>
                                        <input type="number" id="number" min="1" formControlName="number" placeholder="" class = "form-control">
                                    
                                        <div *ngIf="number.value =='' && (number.dirty || number.touched)" class="alert alert-danger">
                                            Number of property is required
                                        </div>
                                        <div *ngIf="(number.value < 1 && number.value!='') && (number.dirty || number.touched)" class="alert-danger">
                                            Number of property must be a positive number
                                        </div>
                                    </td>
                                </tr>
                                <tr class="select__date">
                                    <td><p>Status</p></td>
                                    <td>
                                        <input type="text" id="status" formControlName="status"  placeholder="active/inactive" class = "form-control">
                                        <div *ngIf="status.value=='' && (status.dirty || status.touched)" class="alert-danger">
                                           Status is required
                                        </div>
                                        <div *ngIf="(status.invalid && status.value!='') && (number.dirty || number.touched)" class="alert-danger">
                                            Please input active or inactive
                                        </div>
                                    </td>
                                </tr>
                                
                    </table>
                    <div [hidden]="!addAdminHasError" class="alert alert-danger">
                        {{addAdminErrorMessage}}
                    </div>
                    <div align="center">
                        <button class="save_admin__button" type="submit" value="submit" [disabled] = "form.invalid">Save</button>
                    </div>                    
                    
                    
                    
                    
                </div>
        </form>
    </ng-template>

    <ng-template #checkPasswordDelete let-c="close" let-d="dismiss" class="modal-lg">
        <form class="add_admin_main__block" [formGroup]="checkPasswordForm"  (ngSubmit)="deleteAdminUser()">
            <div class="panel"> 
                
                    <h2>
                        Are you sure you want to delete {{deleteAdminName}}?
                        Please input your password to confirm.
                    </h2>  
                
                 
                                                                        
                <input type="password" id="checkPassword" formControlName ="checkPassword" class = "form-control"  placeholder="Input password here">
                <div *ngIf="checkPassword.invalid && (checkPassword.dirty || checkPassword.touched)" class="alert alert-danger">
                    Admin name is required
                </div> 
                <div [hidden]="!addAdminHasError" class="alert alert-danger">
                    {{addAdminErrorMessage}}
                </div>
                <div [hidden]="deleteAdminError==''" class="alert alert-danger">
                    {{deleteAdminError}}
                </div>
                <div align="center">
                    <button class="save_admin__button" type="submit" value="submit" [disabled] = "checkPasswordForm.invalid">confirm</button>
                    <button class="save_admin__button" value="submit" (click)="cancelDeleteAdmin()">Cancel</button>
                </div> 
            </div>
        </form>
    </ng-template>
</section>