<app-header></app-header>

<section id="main">
    <div class="main__block">

        <div class="search__block d-flex align-items-center justify-content-around">

            <div class="main__title d-flex align-items-center">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Admin Name</th>
                            <th scope="col" class="col__items">Admin Login Email</th>
                            <th scope="col" class="col__items">City/State</th>
                            <th scope="col" class="col__items">Phone #</th>
                            <th scope="col" class="col__items">No of property's</th>
                            <th scope="col" class="col__items">Active/Inactive</th>
                            <th scope="col" class="col__items">Delete ?</th>
                            <th scope="col" class="col__items">Password</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let admin of admins">
                        <tr>
                            <td scope="row" class="type">{{admin.data.name}}</td>
                            <td>
                                <p class="td-numb">{{admin.data.email}}</p>
                            </td>
                            <td>
                                <p class="td-numb">{{admin.data.city}}</p>
                            </td>
                            <td>
                                <p class="td-numb">{{admin.data.phone}}</p>
                            </td>
                            <td>
                                <p class="td-numb">{{admin.data.number}}</p>
                            </td>
                            <td>
                                <p class="td-numb">{{admin.data.status}}</p>
                            </td>
                            <td>
                                <p class="td-numb"></p>
                                <div class="text__block__btn" (click)="deleteSuperAdmin(admin.id)">
                                    <span class="btn__item">Delete</span>
                                </div>
                            </td>
                            <td>
                                <div class="text__block__btn" (click)="changePassword(admin.data.email)">
                                    <span class="btn__item">Reset password</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="plus__circle" (click)="openNewProperty(contentNewProperty);closeModal=0;">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
        </div>
    </div>

    <!--POPUP ADD PROPERTY FORM-->
    <ng-template #contentNewProperty let-c="close" let-d="dismiss" class="modal-lg">
        <!-- <form class="main__block" [formGroup]="form" (submit)="saveFormInput()">-->
        <form action="#" class="main__block" (ngSubmit)="addNewSuperAdmin(f)" #f="ngForm">
            <div class="super__admin__block d-flex flex-column align-items-center">
                <h1>Create an Admin</h1>
                <div class="select__date">
                    <p>Admin Name</p>
                    <input type="text" name="name" id="name" [(ngModel)]="name" class="td-input" placeholder="">
                </div>
                <div class="select__date">
                    <p>Admin Login Email</p>
                    <input type="text" name="email" id="email" [(ngModel)]="email" class="td-input" placeholder="">
                </div>
                <div class="select__date">
                    <p>Password</p>
                    <input type="password" id="password" [(ngModel)]="password" placeholder="" name="password" class="td-input" required>
                </div>
                <div class="select__date">
                    <p>City/State</p>
                    <input type="text" name="city" id="city" [(ngModel)]="city" class="td-input" placeholder="">
                </div>
                <div class="select__date">
                    <p>Phone #</p>
                    <input type="text" name="phone" id="phone" [(ngModel)]="phone" class="td-input" placeholder="">
                </div>
                <div class="select__date">
                    <p>No of property</p>
                    <input type="text" name="number" id="number" [(ngModel)]="number" class="td-input" placeholder="">
                </div>
                <div class="select__date">
                    <p>Status</p>
                    <input type="text" name="status" id="status" [(ngModel)]="status" class="td-input" placeholder="active/inactive">
                </div>
                <div class="save__btn">
                    <button class="button__item" type="submit" (click)="addNewSuperAdmin(f)" value="submit">Save</button>
                </div>
            </div>
        </form>
    </ng-template>
</section>