<app-header></app-header>

<section id="main">
    <div class="main__block">
        <!--///////////////////////////FILTER///////////////////////////////////-->
        <div class="search__block d-flex align-items-center justify-content-around filter-box">
            <div class="search__text__block d-flex flex-column">
                <p>Search History</p>
                <div class="search__buttons d-flex justify-content-center align-items-center">
                    <div class="plus__circle" (click)="openNewProperty(contentNewProperty)">
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="date_button">
                        <a (click)="changeTable('date')" [ngClass]="{'dark-button':byDate}" class="button__item">By Date</a>
                    </div>
                    <div class="type_button">
                        <a (click)="changeTable('type')" [ngClass]="{'dark-button':byType}" class="button__item">By Room</a>
                    </div>
                    <div *ngIf="archiveToggle==true && !byType && inventoryDates" class="type_button">
                        <a class="button__item" [ngClass]="{'green-border':showArchive}" (click)="showArchive = !showArchive">Archive</a>

                    </div>
                    <div *ngIf="archiveToggle==false && !byType && inventoryDates" class="type_button">
                        <a class="button__item green-border" (click)="updateItem();selectedDate=-1;showArchive=false;archiveToggle=true;"> Save Archive</a>
                    </div>
                    <div class="type_button" *ngIf="selectedDate != -1" (click)="updateItem();selectedDate=-1">
                        <a class="button__item purple-border">Save Edit</a>
                    </div>
                </div>
            </div>

            <div class="search__date__block d-flex flex-column justify-content-center">
                <p class="date-range__title" style="color: darkslategray; font-style:normal;	
            opacity: 0.5;
            font-weight: 600;" [hidden]="!byDate">Select Date</p>
                <select class="custom-select" [(ngModel)]="dateOfItem" (change)="updateItemsByDate()" [hidden]="!byDate" style="width:50%;background-color:#F3F2F0; margin: 0 auto">
                    <option selected>Select Date</option>
                    <option *ngFor="let date of inventoryDates" value="{{date}}">{{date | date:'MM/dd/yy'}}</option>
                </select>
            </div>


            <div class="search__date-range__block d-flex justify-content-around align-items-center">
                <div class="d-flex flex-column">
                    <p class="date-range__title" [hidden]="!byType" style="color: darkslategray;opacity: 0.6;font-weight: 600; font-size:16px;">Select Type</p>
                    <select placeholder="Select Type" class="custom-select" [(ngModel)]="nameOfItem" [hidden]="!byType" (change)="updateItemsByType()">
                        <option selected>Select Room</option>
                        <option *ngFor="let label of inventoryLabels" value="{{label}}">{{label}}</option>
                    </select>
                </div>
                <div class="date-range__item d-flex justify-content-center align-items-center">
                    <input type="date" class="search__date__item" [(ngModel)]="dateFrom" [disabled]="!nameOfItem" [hidden]="!byType">
                    <p class="date-range__title" [hidden]="!byType" style=" margin-bottom:6em">Date Range</p>
                    <input type="date" class="search__date__item" [(ngModel)]="dateTo" [disabled]="!dateFrom" [hidden]="!byType">
                </div>
            </div>
        </div>
        <!--///////////////////////////BY TYPE///////////////////////////////////-->
        <div class="main__title d-flex align-items-center" *ngIf="!byDate && byType">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Rooms</th>
                        <th scope="col" class="col__items" colspan="3">
                            {{nameOfItem}}
                        </th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <td scope="row"></td>
                        <td style="background-color: #F3F2F0;" class="cleaning">
                            <p>
                                <b>HK Cleaning</b>
                            </p>
                        </td>
                        <td style="background-color: #F3F2F0;" class="inspector">
                            <p>
                                <b>Inspector</b>
                            </p>
                        </td>
                        <td style="background-color: #F3F2F0;" class="commenting">
                            <p>
                                <b>Dirty? Commands:</b>
                            </p>
                        </td>
                    </tr>
                </thead>
                <ng-container *ngIf="currentItem">
                    <tr *ngFor="let item of currentItem.data | filterByDate: dateFrom: dateTo">
                        <td scope="row" class="type">{{item.date | date:'MM/dd/yy'}}</td>
                        <td class="cleaning">
                            <input class="cell_edit" [(ngModel)]="item.cleaning" disabled>
                        </td>
                        <td class="inspector">
                            <input class="cell_edit" [(ngModel)]="item.inspector" disabled>
                        </td>
                        <td class="comments">
                            <input class="cell_edit" [(ngModel)]="item.comments" disabled>
                        </td>
                    </tr>
                </ng-container>
            </table>
            <div class="plus__circle" (click)="openNewProperty(contentNewProperty)">
                <i class="fas fa-plus"></i>
            </div>
        </div>
        <!--///////////////////////////DEFAULT///////////////////////////////////-->
        <div class="main__title d-flex align-items-center" *ngIf="!byType && inventoryDates">
            <table class="table table-bordered" id="table">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%;" class="thick-border headcol">Rooms</th>
                        <th scope="col" class="col__items thick-border" colspan="3" *ngFor="let date of inventoryDates.slice(dateIndex, dateIndex + 8); let i = index">
                            {{date | date:'MM/dd/yy'}}
                            <ng-container *ngIf="selectedDate == i">
                                <div style="display: inline;" (click)="selectedDate = i">
                                    <i class="far fa-edit purple"></i>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="selectedDate != i">
                                <div style="display: inline;" (click)="selectedDate = i">
                                    <i class="far fa-edit"></i>
                                </div>
                            </ng-container>
                        </th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <td scope="row thick-border" class="type thick-border headcol"></td>
                        <ng-container *ngFor="let date of inventoryDates.slice(dateIndex, dateIndex + 8)">
                            <td style="background-color: #F3F2F0;" class="cleaning">
                                <p>HK Cleaning</p>
                            </td>
                            <td style="background-color: #F3F2F0;" class="inspector">
                                <p>inspector </p>
                            </td>
                            <td style="background-color: #F3F2F0;" class="comments thick-border">
                                <p class="comments">Dirty? commnets:</p>
                            </td>
                        </ng-container>
                    </tr>
                </thead>

                <tr *ngFor="let label of inventoryLabels">
                    <ng-container *ngIf="!inventoryItems.inspection[label].archive">
                        <td scope="row" class="type thick-border headcol" id="fname">
                            <input class="checkbox" type="checkbox" [(ngModel)]="inventoryItems.inspection[label].archive" value="onoffswitch" id='checkMe'
                                *ngIf="showArchive" (change)="archiveToggle=false;"> {{label}}
                        </td>
                        <ng-container id="t-data" *ngFor="let item of inventoryItems.inspection[label].data.slice(dateIndex, dateIndex + 8); let i = index">
                            <td>
                                <input class="cell_edit" [disabled]="selectedDate != i" [(ngModel)]="item.cleaning">
                            </td>
                            <td>
                                <input class="cell_edit" [disabled]="selectedDate != i" [(ngModel)]="item.inspector">
                            </td>
                            <td class="thick-border">
                                <input class="cell_edit" [disabled]="selectedDate != i" [(ngModel)]="item.comments">
                            </td>
                        </ng-container>
                    </ng-container>
                </tr>
                <tr *ngFor="let label of inventoryLabels" class="archive">
                    <ng-container *ngIf="inventoryItems.inspection[label].archive && showArchive">
                        <td scope="row" class="type thick-border headcol" id="fname">
                            <input class="checkbox" type="checkbox" value="onoffswitch" id='checkMe' [(ngModel)]="inventoryItems.inspection[label].archive"
                                *ngIf="showArchive" (change)="archiveToggle=false;"> {{label}}
                        </td>
                        <ng-container id="t-data" *ngFor="let item of inventoryItems.inspection[label].data.slice(dateIndex, dateIndex + 8); let i = index">
                            <td>
                                <input class="cell_edit" [disabled]="selectedDate != i" [(ngModel)]="item.cleaning">
                            </td>
                            <td>
                                <input class="cell_edit" [disabled]="selectedDate != i" [(ngModel)]="item.inspector">
                            </td>
                            <td class="thick-border">
                                <input class="cell_edit" [disabled]="selectedDate != i" [(ngModel)]="item.comments">
                            </td>
                        </ng-container>
                    </ng-container>
                </tr>
            </table>

        </div>

        <!--POPUP ADD PROPERTY FORM-->
        <ng-template #contentNewProperty let-c="close" let-d="dismiss" class="modal-lg">
            <div class="modal-container" style="width:570px; margin:auto; background: white;">
                <form class="main__block" style="height:auto !important;" [formGroup]="form" (submit)="saveFormInput()" #f="ngForm">
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true" class="cros">&times;</span>
                    </button>
                    <div class="user__component d-flex flex-column">
                        <div class="user__block" style="width:540px;">
                            <div class="user__block__header d-flex justify-content-between align-items-center" style="width:540px; background: white; margin:auto;">
                                <div class="user__text">
                                    <p>Add Room</p>
                                </div>
                                <div class="select__date d-flex justify-content-center align-items-center">
                                    <div>Select Date:</div>
                                    <input type="date" (change)="dateChangeOnAdd()" style="width:170px;" class="search__date__item" formControlName="date" required
                                        placeholder="">
                                </div>
                            </div>
                            <form formArrayName="inventories" *ngFor="let item of form.get('inventories').controls; let i=index" class="user__array_form">
                                <table>
                                    <tr *ngIf="i==0">
                                        <td style="background-color: #F3F2F0;">
                                            <p>Room</p>
                                        </td>
                                        <td style="background-color: #F3F2F0;">
                                            <p>HK Cleaning</p>
                                        </td>
                                        <td style="background-color: #F3F2F0;">
                                            <p>Inspector</p>
                                        </td>
                                        <td style="background-color: #F3F2F0;">
                                            <p>Dirty? Comments:</p>
                                        </td>
                                    </tr>
                                    <tr [formGroupName]="i">
                                        <td>
                                            <input type="text" formControlName="item" id="item" name="item" placeholder="Room" class="input">
                                        </td>
                                        <td>
                                            <input type="text" formControlName="cleaning" id="cleaning" name="cleaning" placeholder="" class="input">
                                        </td>
                                        <td>
                                            <input type="text" formControlName="inspector" id="inspector" name="inspector" placeholder="" class="input">
                                        </td>
                                        <td>
                                            <input type="text" formControlName="comments" id="comments" name="comments" placeholder="" class="input">
                                        </td>
                                    </tr>
                                </table>
                            </form>
                            <div class="row" style="margin-left:30px; margin-bottom:30px;">
                                <div class="add__item__block" (click)="addFormInput()">
                                    <button type="button" class="add__item__btn">
                                        Add Item
                                    </button>
                                </div>
                                <div *ngIf="dateExists" class="alert alert-danger">
                                    {{dateExistsErrorMessage}}
                                </div>
                                <div class="save__btn">
                                    <button class="add__btn" [disabled]="form.invalid">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </ng-template>
    </div>
</section>