<app-header></app-header>


<section id="main">
  <div class="main__block">
    <!-- <div class="main__table" *ngFor="let form of forms | async" (click)="setForms(form.id)">-->
    <div class="main__table" *ngFor="let form of forms">
      <div class="table__block" (click)="openViewImg(contentViewImg)">
        <div class="name__block">
          <p class="text__block__name">{{form.data.name}}</p>
        </div>
        <div class="date__block">
          <p class="text__block__date">{{form.data.date}}</p>
        </div>
      </div>
      <div class="table__block_btn">
        <div class="text__block__btn">
          <button class="btn__item default" (click)="openViewImg(contentViewImg)">view</button>
        </div>
        <div class="text__block__btn">
          <button class="btn__item default">Download</button>
        </div>
        <div class="text__block__btn" *ngIf="currentUser.role=='admin'">
          <button class="btn__item danger" (click)="deleteForm(form.id)">Delete</button>
        </div>
      </div>

      <ng-template #contentViewImg let-c="close" let-d="dismiss" class="modal-lg">
        <iframe *ngIf="isPdf(form.data.image)" [src]="form.data.image | safe" class="main__block"></iframe>
        <img *ngIf="!isPdf(form.data.image)" [src]="form.data.image | safe" [alt]="form.data.name" class="main__block">
      </ng-template>

    </div>
    <div class="plus__circle" (click)="openNewProperty(contentNewProperty);">
      <i class="fas fa-plus"></i>
    </div>
  </div>


  <!--POPUP ADD PROPERTY FORM-->
  <ng-template #contentNewProperty let-c="close" let-d="dismiss">
    <!-- <div class="super__admin__block d-flex flex-column align-items-center create_admin_haader">  -->
    <div class="modal-container main__block" style="width: 600px; background: white; height: auto !important;">


      <form action="#" class="d-flex flex-column form-group" (ngSubmit)="addNewForm()" [formGroup]="formForm" style="margin:auto !important;">
        <button type="button" class="close" style="float: right !important; color: black !important;" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true" class="cros" style="float: right !important; color: black !important;">&times;</span>
        </button>
        <div align="center">
          <h1>Upload form</h1>
        </div>
        <table class="table table-bordered table-hover table-responisve" style="border: 1px solid #ddd !important;">
          <tr>
            <td>
              <p>Select Date</p>
            </td>
            <td>
              <input type="date" formControlName="date" placeholder="" class="form-control" required>
              <div *ngIf="formForm.controls.date.invalid && (formForm.controls.date.dirty || formForm.controls.date.touched)" class="alert-danger">
                Date is required
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <p>Form Name</p>
            </td>
            <td>
              <input type="text" formControlName="name" placeholder="" class="form-control" required>
              <div *ngIf="formForm.controls.name.invalid && (formForm.controls.name.dirty || formForm.controls.name.touched)" class="alert-danger">
                Name is required
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <p>Attachment</p>
            </td>
            <td>
              <div class="image_button">
                <input type="file" (change)="selectFile($event)" id="image" class="input" required>
                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                Uploaded {{progress.percentage}}%
              </div>
            </td>

          </tr>
        </table>





        <div class="save__btn" style="margin-bottom:20px;">
          <button type="submit" class="button__item" [disabled]="formForm.invalid  || progress.percentage!=100 ">Save</button>
          <button type="button" class="button__item" (click)="addFormModalRef.close()">Close</button>

        </div>

      </form>



    </div>
  </ng-template>


</section>