/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
h1 {
    font-family: Muli;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

h3 {
    font-family: Muli;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}

p {
    font-family: Muli;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: Muli;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: Muli;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

#main {
    padding: 55px 0 0 72px !important;
}

.main__block {
    border: 6px ridge #b1d1ff !important;
    position: relative;
    height: calc(100vh - 55px);
    overflow-y: auto;
    .main__title h2 {
        font-size: 30px;
        font-weight: 400;
        margin-left: 6%;
        margin-top: 3%;
        letter-spacing: 2px;
        color: darkslategrey;
        text-align: center;
    }
    .main__text p {
        font-size: 24px;
        /* font-style: italic; */
        font-weight: 400;
        margin-left: 6%;
        margin-top: 3%;
        letter-spacing: 2px;
        color: darkslategrey;
    }
}