<app-header></app-header>
<section id="main">
    <div class="row">
        <div class="col-md-8">
            <div class="main__block">
                <div align="center" style="margin:30px;">
                    <button class="btn btn-primary" (click)="onPrev()">Prev</button>
                    <button class="btn btn-danger"  style="width:150px; margin:auto;">{{monthes[month]}}, {{year}}</button>
                    <button class="btn btn-primary" (click)="onNext()">Next</button>
                </div>
                <table class="table table-striped">
                    <thead class="table-dark">
                        <th>Sun</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thr</th>
                        <th>Fri</th>
                        <th>Sat</th>
                    </thead>
                    <tr class="table table-primary" *ngFor="let item of createRange(6); let _week=index">
                        <td *ngFor="let _item of createRange(7); let _day=index" (click)="showSchedule(startDate + _week*7 + _day)"> 
                            <div *ngIf="!thisMonthDay(_week*7 + _day)">
                                <div class="inactive_date"><b>{{getExcatDate(startDate + _week*7 + _day)}}</b></div>                                
                            </div>
                            <div *ngIf="thisMonthDay(_week*7 + _day)" >                               
                                <b>{{getExcatDate(startDate + _week*7 + _day)}}</b>
                                <div *ngFor="let _schedule of getScheduleList(startDate, _week*7,_day)">
                                    <span class="name">{{ _schedule.name }}</span>:<span class="content">{{ _schedule.content }}</span>
                                </div>
                                <div *ngIf="showMore(startDate + _week*7 +_day)">
                                    ...
                                </div>    
                            </div>  
                        </td>
                    </tr>               
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <!-- //////////////  Popup Modal -->
            <div class="main__block">
                    <div class=" main__block user__component d-flex flex-column">
                        <button class="btn btn-danger">Schedules on {{month}}/{{day}}/{{year}}</button>
                        <div *ngIf="daySchedules.length>0">
                            <table class="table table-striped">
                                <thead class="table-danger">
                                    <td>Scheduler</td>
                                    <td>Content</td>
                                    <td></td>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let schedule of daySchedules; let i=index;" class="table-success">
                                        <td>{{schedule.name}}</td>
                                        <td>{{schedule.content}}</td>
                                        <td><div *ngIf="canDelete(schedule.time)"><button type="button" (click)="deleteSchedule(i)">Delete</button></div></td>
                                    </tr>
                                </tbody>
                                
                            </table>
                        </div>
                        <div *ngIf="daySchedules.length==0">
                            <div class="alert-info"><h3>No schedules yet.</h3></div>
                        </div>
                        <div *ngIf="canCreate()" align="center">
                            <button type="button" class="btn btn-primary" (click)="openSchedulModal(newScheduleModal)">Add new schedule</button>  
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <ng-template #newScheduleModal let-c="close" let-d="dismiss" class="modal-lg">
            <div class="modal-container" style="width: 800px; background: white;">
                <form class="main__block" [formGroup]="form" (submit)="saveNewSchedule()">
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true" class="cros">&times;</span>
                    </button>
                                        
                   
                    <div class="user_text">
                        <p>Create new schedule</p>
                    </div>
                    <h3>Notes</h3><br>
                    <textarea formControlName="content" id="content" rows="4" cols="100"></textarea>

                   
                    <button>Save</button>
                                                                                    
                   
                </form>
            </div>
        </ng-template>
</section>
