:host {
    .plus__circle {
        svg {
            width: 3em;
        }
    }
    .inactive_date{
        color: #888888;
    }
    .calendar_icon{
        color:rgb(9, 70, 184);
        width:12px;
    }
}