<app-header></app-header>
<section id="main">
        <div class="main__block">
            <div align="center">
                <button class="btn btn-primary" (click)="onPrev()">Prev</button>
                {{monthes[month]}}, {{year}}
                <button class="btn btn-primary" (click)="onNext()">Next</button>
            </div>
            <table>
                <thead>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thr</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </thead>
                <tr *ngFor="let item of createRange(6); let _week=index">
                    <td *ngFor="let _item of createRange(7); let _day=index">                            
                        <div *ngIf="!thisMonthDay(_week*7 + _day)">
                            <div class="inactive_date"><b>{{getExcatDate(startDate + _week*7 + _day)}}</b></div>                                
                        </div>
                        <div *ngIf="thisMonthDay(_week*7 + _day)">
                            
                            <div (click)="openSchedulModal(scheduleContentModal)">
                                <b>{{getExcatDate(startDate + _week*7 + _day)}}</b>
                                
                            </div>
                            <!-- <span class="pull-right" (click)="createNewSchedule(getExcatDate(startDate + _week*7 + _day))"><i class="fas fa-calendar calendar_icon" ></i>&nbsp;</span>                                
                            <span class="pull-right" (click)="createNewSchedule(getExcatDate(startDate + _week*7 + _day))"><i class="fa fa-plus-circle calendar_icon"></i>&nbsp; </span>                                                                            -->
                        </div>                                 
                     </td>
                </tr>               
            </table>

            <!-- //////////////  Popup Modal -->
            <ng-template #scheduleContentModal let-c="close" let-d="dismiss" class="modal-lg">
                    <div class=" main__block user__component d-flex flex-column">
                        <div class="user__text">                                
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                               <span aria-hidden="true" class="cros">&times;</span>
                            </button>
                            <h1>Schedule Information</h1>
                        </div>
                        
                    </div>
                </ng-template>
        </div>
</section>
