/*Specification*/

$color-ff:             #e61818;
$primary-color:        #0d0d0d;
$title-color:          #E8E721;
$font-main:            Helvetica Neue;
$font-thin:            HelveticaNeue Thin;
$font-gray:            #76756F;
$font-gray2:           #575652;
$font-gray3:           #E6E5E2;
$font-gray4:           #F3F2F0;
$font-gray5:           #76756F;
$font-bold:            700;
$font-sz-12:           12px;

/*@font-face {
  font-family: HelveticaNeue Thin;
  src: url("../fonts/HelveticaNeue Thin.ttf") format("opentype");
}
@font-face {
  font-family: Helvetica Neu Bold;
  src: url("../fonts/Helvetica Neu Bold.ttf") format("opentype");
}*/

body {
  font-family: $font-main, Helvetica,  Arial,sans-serif;
  overflow-x: hidden;
  height: 100vh;
  font-weight: $font-bold;
}
button, button:hover {
  text-decoration: none;
  color: #fff;
  outline: none;
}
label {
  font-weight: 700;
  font-size: 14px;
}

#main {
  padding: 55px 0 0 72px;
}
.main__table {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.main__block {
  border: 20px solid #707070;
  position: relative;
  height: calc(100vh - 55px);
  overflow-y: auto;
  .main__title h2 {
    text-align: center;
    margin-top: 40px;
  }
  .main__text p {
    font-size: 25px;
    font-style: italic;
    font-weight: 100;
    text-shadow: 0 5px 10px #000, 0 0 1px #000;
    margin-left: 6%;
    margin-top: 3%;
    letter-spacing: 2px;
  }
  .table__block {
    border: 1px solid black;
    width: 245px;
    border-radius: 15px;
    padding: 1% 1% 1% 2%;
    margin-left: 6%;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: -5px 5px 3px 4px black;
  }
  .text__block__btn {
    text-align: end;
    .btn__item {
      font-size: 10px;
      border: 1px solid $color-ff;
      padding: 8px 10px;
      text-align: center;
      border-radius: 6px;
      background-color: $color-ff;
      cursor: pointer;
    }
  }
  .text__block__name {
    color: $font-gray5;
  }
  .email__block {
    display: flex;
  }
  .role__block {
    display: flex;
  }
  .text__block__email {
    color: $font-gray5;
    font-size: $font-sz-12;
  }
  .prof__name{
    margin-left: 25px;
    font-size: $font-sz-12;
    color: $font-gray5;
  }
  .email__name {
    font-size: $font-sz-12;
    margin-left: 20px;
  }
}
.plus__circle {
  font-size: 85px;
  width: 75px;
  height: 75px;
  font-weight: 100;
  border-radius: 50%;
  border: 4px solid #707070;
  color: #707070;
  margin-left: 40px;
  margin-bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.delete__button {
  position: absolute;
  bottom: 40px;
  right: 30px;
    .button__item {
    font-size: $font-sz-12;
    border: 1px solid $color-ff;
    padding: 15px 20px;
    font-weight: 700;
    text-align: center;
    border-radius: 50px;
    background-color: $color-ff;
    box-shadow: 0 0 5px 1px black;
    text-transform: uppercase;
    cursor: pointer;
  }
}
/*POPUP Delete User*/
#template {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  /*display: none; !* Hidden by default *!
  z-index: 1; !* Sit on top *!*!
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
  !*background-color: rgb(0,0,0); !* Fallback color *!
  background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
}
.modal-content {
  display: none;
}
.log__block {
  width: 500px;
  height: 500px;
  border: 1px solid #000;
  background-color: white;
  margin: 0 auto;
  /*border-radius: 50px;*/
  padding: 30px 30px 30px 40px;
  .log__text {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 15px;
  }
  .log__text:nth-child(2) {
    margin-top: 0;
  }
  .cros {
    color: #000000;
  }
}
.log__form {
  margin-top: 30px;
}
.form__btn {
  cursor: pointer;
  font-size: 14px;
  font-weight: $font-bold;
  border: 1px solid $color-ff;
  padding: 18px 40px;
  text-align: center;
  border-radius: 50px;
  background-color: $color-ff;
  box-shadow: 0 0 5px 1px black;
  text-transform: uppercase;
  display: block;
  margin: 40px auto;
}
.pass__block {
  input {
    margin-left: 28px;
    margin-top: 50px;
  }
}
.input {
  height: 40px;
  width: 250px;
  margin: 0 0 20px 60px;
  box-shadow: 1px 5px 10px rgba(0,0,0,0.5);
  padding-left: 20px;
}
label {
  font-weight: 700;
  font-size: 14px;
}

/*POPUP Create User*/
#logo {
  background: #0d0d0d;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
}
#header {
  width: 100%;
  background: $primary-color;
  height: 55px;
  margin-left: 72px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .header__text {
    color: $title-color;
    font-size: 28px;
    padding: 8px 8px 8px 25px;
    text-transform: uppercase;
  }
}
#main {
  padding: 55px 0 0 72px;
}
.main__block {
  border: 20px solid #707070;
  position: relative;
  height: calc(100vh - 55px);
  overflow-y: auto;
}
#user {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}
.user__block {
  width: 360px;
  height: 350px;
  border: 1px solid #000;
  background-color: #E6E5E2;
  margin: 0px auto 20px auto;
  border-radius: 50px;
  padding: 20px 20px 20px 25px;
  box-shadow: 0 2px 5px #000;
}
.user__text h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 3%;
}
.user__form {
  margin-top: 30px;
}
.confirm__user {
  cursor: pointer;
  font-size: 14px;
  font-weight: $font-bold;
  border: 1px solid $primary-color;
  padding: 16px 90px;
  text-align: center;
  border-radius: 50px;
  background-color: $primary-color;
  box-shadow: 0 0 5px 1px black;
  display: block;
  margin: 15px auto;
}
.pass__user-block {
  input {
    margin-left: 5px;
    margin-top: 0;
  }
}
.input_user {
  height: 45px;
  width: 170px;
  margin: 0 0 25px 32px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
  padding-left: 20px;
  border-radius: 20px;
}

input:active, :hover, :focus {
  outline: 0;
  outlite-offset: 0;
}



/*Media Screen*/
@media screen and (max-width: 767px) {

  .plus__circle {
    font-size: 70px;
    width: 60px;
    height: 60px;
  }
  .delete__button .button__item {
    font-size: 10px;
    padding: 10px 12px;
  }
  .main__title h2 {
    font-size: 25px;
  }
  .main__block .main__text p {
    font-size: 20px;
  }
  .main__block .table__block {
    border: 1px solid #000;
    width: 250px;
    margin-bottom: 15%;
  }
  .main__block {
    border: 15px solid #707070;
  }
}
@media screen and (max-width: 575px) {

  .plus__circle {
    font-size: 60px;
    width: 50px;
    height: 50px;
  }
  .delete__button .button__item {
    font-size: 9px;
    padding: 10px 12px;
  }
  .main__title h2 {
    font-size: 20px;
  }
  .main__block .main__text p {
    font-size: 15px;
  }
  .main__block .table__block {
    border: 1px solid #000;
    width: 220px;
  }
  .btn__item {
    padding: 6px 8px;
  }
}
@media screen and (max-width: 465px) {

  .plus__circle {
    margin-top: 50px;
  }
  .main__table {
    display: block;
    height: calc(70vh - 55px);
    overflow: auto;
  }
  .main__block {
    border: 10px solid #707070;
  }
  .table__block {
    padding: 20px 10px 20px 25px;
  }
}
@media screen and (max-width: 375px) {
  .plus__circle {
    font-size: 40px;
    width: 40px;
    height: 40px;
    margin-top: 60px;
  }
  .delete__button .button__item {
    font-size: 8px;
    padding: 8px 10px;
  }
  .main__title h2 {
    font-size: 20px;
  }
  .main__block .main__text p {
    font-size: 15px;
  }
  .main__block .table__block {
    width: 200px;
  }
  .btn__item {
    padding: 4px 6px!important;
  }
  .main__block {
    border: 5px solid #707070;
  }
  .table__block {
    padding: 20px 10px 20px 20px!important;
  }
}


