<app-header></app-header>

<section id="main">
    <div class="main__block">
        <div class="main__title">
            <h2>Welcome Admin!</h2>
        </div>
        <div class="main__text">
            <p>Current Users</p>
        </div>
        <div class="main__table">
            <div class="table__block" *ngFor="let manager of managers" (click)="getManager(manager.id)">
                <div class="text__block__btn" (click)="deleteManager(manager.id)">
                    <!--<div class="text__block__btn" (click)="openDeleteComform(contentDeleteComform)">-->
                    <button class="btn__item">Delete</button>
                </div>
                <!--<p class="text__block__name">{{ manager.data.name }}</p>-->
                <h3>{{ manager.data.name }}</h3>
                <div class="email__block">
                    <p class="text__block__email">Email:</p>
                    <span class="email__name">{{ manager.data.email }}</span>
                </div>
                <div class="role__block">
                    <p class="text__block__email">Role:</p>
                    <!--<span class="prof__name">{{ manager.data.role }}</span>-->
                    <span class="prof__name">{{ manager.data.role }}</span>
                </div>
            </div>
            <div [hidden]="!canAddMoreManager" class="plus__circle" (click)="openNewUser(contentNewUser)">
                <i class="fas fa-plus"></i>
            </div>

        </div>
    </div>

    <div class="delete__button">
        <button type="button" class="button__item" (click)="open(content)">Delete Property</button>
        <!--<pre>{{closeResult}}</pre>-->
    </div>

    <!--POPUP DELETE FORM-->
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="log__block">
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true" class="cros">&times;</span>
        </button>
            <p class="log__text">Are you sure you want to delete this property ?</p>
            <p class="log__text">If so, enter credentials below</p>
            <form action="#" class="log__form">
                <div class="email__block">
                    <label for="email"><p>Email:</p></label>
                    <input type="text" [(ngModel)]="AdminName" placeholder="" name="email" class="input" required>
                </div>
                <div class="pass__block">
                    <label for="password"><p>Password:</p></label>
                    <input type="password" [(ngModel)]="AdminPassword" placeholder="" name="psw" class="input" required>
                </div>
                <button type="submit" class="form__btn" (click)="checkAdmin()">
                    Delete Property
                </button>
            </form>
        </div>
    </ng-template>

    <!--POPUP ADD USER FORM-->
    <ng-template #contentNewUser let-c="close" let-d="dismiss">
        <div class="user__component d-flex flex-column">
            <div class="user__text">
                <h1>Create New User</h1>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true" class="cros">&times;</span>
        </button>
            </div>
            <div class="user__block">
                <form action="#" class="user__form  d-flex flex-column" (ngSubmit)="onSignup(f)" #f="ngForm">
                    <div class="name__block">
                        <label for="name"><p>Name:</p></label>
                        <input type="text" id="name" [(ngModel)]="name" placeholder="" name="name" class="input_user" required>
                    </div>
                    <div class="email__block">
                        <label for="email"><p>Email:</p></label>
                        <input type="email" id="email" [(ngModel)]="email" placeholder="" name="email" class="input_user" required>
                    </div>
                    <div class="pass__user-block">
                        <label for="password"><p>Password:</p></label>
                        <input type="password" id="password" [(ngModel)]="password" placeholder="" name="password" class="input_user" required>
                    </div>
                    <button type="submit" class="confirm__user" (click)="addNewManager()" value="submit">
            Confirm New User
          </button>
                </form>
            </div>
        </div>
    </ng-template>


    <!-- POPUP conform DELETE user
  <ng-template #contentDeleteComform let-c="close" let-d="dismiss">
    <div class="log__block">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="cros">&times;</span>
      </button>
      <p class="log__text">Are you sure you want to delete this user?</p>
      <div class="text__block__btn" (click)="deleteManager(manager.id)">
        <button class="form__btn">
          Delete User
        </button>
      </div>
    </div>
  </ng-template>-->



</section>