<app-header></app-header>

<section id="main">
  <div class="main__block">
    <div class="main__title">
      <h2>Welcome Admin!</h2>
    </div>
    <div class="main__text">
      <p>Current Users</p>
    </div>
    <div class="main__table">
      <div class="table__block">
        <div class="text__block__btn">
          <a href="#" class="btn__item">Delete</a>
        </div>
        <p class="text__block__name">Andrew Peters</p>
        <div class="email__block">
          <p class="text__block__email">Email</p>
          <span class="email__name">andrew2@gmail.com</span>
        </div>
        <div class="role__block">
          <p class="text__block__email">Role</p>
          <span class="prof__name">Manager</span>
        </div>
      </div>
      <div class="table__block">
        <div class="text__block__btn">
          <a href="#" class="btn__item">Delete</a>
        </div>
        <p class="text__block__name">Andrew Peters</p>
        <div class="email__block">
          <p class="text__block__email">Email</p>
          <span class="email__name">andrew2@gmail.com</span>
        </div>
        <div class="role__block">
          <p class="text__block__email">Role</p>
          <span class="prof__name">Manager</span>
        </div>
      </div>
      <div class="table__block">
        <div class="text__block__btn">
          <a href="#" class="btn__item">Delete</a>
        </div>
        <p class="text__block__name">Andrew Peters</p>
        <div class="email__block">
          <p class="text__block__email">Email</p>
          <span class="email__name">andrew2@gmail.com</span>
        </div>
        <div class="role__block">
          <p class="text__block__email">Role</p>
          <span class="prof__name">Manager</span>
        </div>
      </div>
      <div class="plus__circle">
        <p>+</p>
      </div>
    </div>
    <div class="delete__button">
      <a href="#" class="button__item">Delete Property</a>
    </div>
  </div>
</section>
