<app-header></app-header>

<section id="main">
  <div class="main__block">
    <div class="main__title">
      <h2>Welcome Admin!</h2>
    </div>
    <div class="main__text">
      <p>Current Users</p>
    </div>
    <div class="main__table">
     <div class="table__block" *ngFor="let manager of managers" (click)="getManager(manager.id)">
       <div class="text__block__btn" (click)="deleteManager(manager.id)">
       <!--<div class="text__block__btn" (click)="openDeleteComform(contentDeleteComform)">-->
         <button class="btn__item">Delete</button>
       </div>
       <p class="text__block__name">{{ manager.data.name }}</p>
       <div class="email__block">
         <p class="text__block__email">Email</p>
         <span class="email__name">{{ manager.data.email }}</span>
       </div>
       <div class="role__block">
         <p class="text__block__email">Role</p>
         <!--<span class="prof__name">{{ manager.data.role }}</span>-->
         <span class="prof__name">{{ manager.data.role }}</span>
       </div>
     </div>
      <div class="plus__circle" (click)="openNewUser(contentNewUser)">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve" width="70px" height="70px">
                   <g>
                       <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26   S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z" fill="#707070"/>
                       <path d="M38.5,25H27V14c0-0.553-0.448-1-1-1s-1,0.447-1,1v11H13.5c-0.552,0-1,0.447-1,1s0.448,1,1,1H25v12c0,0.553,0.448,1,1,1   s1-0.447,1-1V27h11.5c0.552,0,1-0.447,1-1S39.052,25,38.5,25z" fill="#707070"/>
                   </g>
               </svg>
      </div>

    </div>
   </div>

  <!--
     <div class="table__block">
       <div class="text__block__btn">
         <a href="#" class="btn__item">Delete</a>
       </div>
       <p class="text__block__name">Andrew Peters</p>
       <div class="email__block">
         <p class="text__block__email">Email</p>
         <span class="email__name">andrew2@gmail.com</span>
       </div>
       <div class="role__block">
         <p class="text__block__email">Role</p>
         <span class="prof__name">Manager</span>
       </div>
     </div>

     <div class="table__block">
       <div class="text__block__btn">
         <a href="#" class="btn__item">Delete</a>
       </div>
       <p class="text__block__name">Andrew Peters</p>
       <div class="email__block">
         <p class="text__block__email">Email</p>
         <span class="email__name">andrew2@gmail.com</span>
       </div>
       <div class="role__block">
         <p class="text__block__email">Role</p>
         <span class="prof__name">Manager</span>
       </div>
     </div>-->


    <div class="delete__button">
      <button type="button" class="button__item" (click)="open(content)">Delete Property</button>
      <!--<pre>{{closeResult}}</pre>-->
    </div>

    <!--POPUP DELETE FORM-->
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="log__block">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true" class="cros">&times;</span>
        </button>
        <p class="log__text">Are you sure you want to delete this property ?</p>
        <p class="log__text">If so, enter credentials below</p>
        <form action="#" class="log__form">
          <div class="email__block">
            <label for="email"><p>Email:</p></label>
            <input type="text" placeholder="" name="email" class="input" required>
          </div>
          <div class="pass__block">
            <label for="password"><p>Password:</p></label>
            <input type="password" placeholder="" name="psw" class="input" required>
          </div>
          <button type="submit" class="form__btn">
            Delete Property
          </button>
        </form>
      </div>
    </ng-template>

  <!--POPUP ADD USER FORM-->
  <ng-template #contentNewUser let-c="close" let-d="dismiss">
    <div class="user__component d-flex flex-column">
      <div class="user__text">
        <h1>Create New User</h1>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true" class="cros">&times;</span>
        </button>
      </div>
      <div class="user__block">
        <form action="#" class="user__form" (ngSubmit)="onSignup(f)" #f="ngForm">
          <div class="name__block">
            <label for="name"><p>Name:</p></label>
            <input type="text" id="name" [(ngModel)]="name" placeholder="" name="name" class="input_user" required>
          </div>
          <div class="email__block">
            <label for="email"><p>Email:</p></label>
            <input type="email" id="email" [(ngModel)]="email" placeholder="" name="email" class="input_user" required>
          </div>
          <div class="pass__user-block">
            <label for="password"><p>Password:</p></label>
            <input type="password" id="password" [(ngModel)]="password" placeholder="" name="password" class="input_user" required>
          </div>
          <button type="submit" class="confirm__user" (click)="addNewManager()" value="submit">
            Confirm New User
          </button>
        </form>
      </div>
     <!-- <button type="submit" class="confirm__user" (click)="addNewUser()" value="submit">
        Confirm New User
      </button>-->
    </div>
  </ng-template>


 <!-- POPUP conform DELETE user
  <ng-template #contentDeleteComform let-c="close" let-d="dismiss">
    <div class="log__block">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="cros">&times;</span>
      </button>
      <p class="log__text">Are you sure you want to delete this user?</p>
      <div class="text__block__btn" (click)="deleteManager(manager.id)">
        <button class="form__btn">
          Delete User
        </button>
      </div>
    </div>
  </ng-template>-->

  <!--&lt;!&ndash;POPUP DELETE FORM&ndash;&gt;
  <ng-template #contentDeleteComform  let-c="close" let-d="dismiss">
    <div class="log__block">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="cros">&times;</span>
      </button>
      <p class="log__text">Are you sure you want to delete this property ?</p>
      <p class="log__text">If so, enter credentials below</p>
      <form action="#" class="log__form">
        <div class="email__block">
          <label for="email"><p>Email:</p></label>
          <input type="text" placeholder="" name="email" class="input" required>
        </div>
        <div class="pass__block">
          <label for="psw"><p>Password:</p></label>
          <input type="password" placeholder="" name="psw" class="input" required>
        </div>
        <button type="submit" class="form__btn" (click)="deleteManager(manager.id)">
          Delete Property
        </button>
      </form>
    </div>
  </ng-template>-->

</section>
