<app-header></app-header>

<section id="main">
  <div class="main__block">
    <!--///////////////////////////FILTER///////////////////////////////////-->
    <div class="search__block d-flex align-items-center justify-content-around">
      <div class="search__text__block d-flex flex-column">
        <p>Search History</p>
        <div class="search__buttons d-flex justify-content-center align-items-center">
          <div class="date_button">
            <a (click)="changeTable('date')" [ngClass]="{'dark-button':byDate}" class="button__item">By Date</a>
          </div>
          <div class="type_button">
            <a (click)="changeTable('type')" [ngClass]="{'dark-button':byType}" class="button__item">By Type</a>
          </div>
        </div>
      </div>

      <div class="search__date__block d-flex flex-column justify-content-center">
        <select class="custom-select" [(ngModel)]="dateOfItem" (change)="updateItemsByDate()" [disabled]="!byDate">
          <option selected>Select Date</option>
          <option *ngFor="let date of inventoryDates" value="{{date}}">{{date}}</option>
        </select>
        <p>Previous date entries from</p>
        <p>date selected will also show</p>
      </div>


      <div class="search__date-range__block d-flex justify-content-around align-items-center">
        <select class="custom-select" [(ngModel)]="nameOfItem" [disabled]="!byType" (change)="updateItemsByType()">
          <option selected>Select Type</option>
          <option *ngFor="let label of inventoryLabels" value="{{label}}">{{label}}</option>
        </select>
        <div class="date-range__item d-flex justify-content-center align-items-center">
          <input type="date" class="search__date__item" [(ngModel)]="dateFrom" [disabled]="!nameOfItem">
          <p class="date-range__title">Date Range</p>
          <input type="date" class="search__date__item" [(ngModel)]="dateTo" [disabled]="!dateFrom">
        </div>
      </div>
    </div>
    <hr>
    <!--///////////////////////////BY TYPE///////////////////////////////////-->
    <div class="main__title d-flex align-items-center" *ngIf="!byDate && byType">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Items</th>
          <th scope="col" class="col__items" colspan="2">
            {{nameOfItem}}
            <i class="far fa-edit"></i>
          </th>
        </tr>
        </thead>
        <ng-container *ngIf="currentItem">
          <tr *ngFor="let item of currentItem | filterByDate: dateFrom: dateTo">
            <td scope="row" class="type">{{item.date}}</td>
            <td>
              <input class="td-numb" [(ngModel)]="item.price" disabled>
            </td>
          </tr>
        </ng-container>
      </table>
      <div class="save__button">
        <button class="button__item">Save</button>
      </div>
    </div>
    <div class="plus__circle" (click)="openNewProperty(contentNewProperty)">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve" width="40px" height="40px">
                    <g>
                        <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26   S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z" fill="#707070"/>
                        <path d="M38.5,25H27V14c0-0.553-0.448-1-1-1s-1,0.447-1,1v11H13.5c-0.552,0-1,0.447-1,1s0.448,1,1,1H25v12c0,0.553,0.448,1,1,1   s1-0.447,1-1V27h11.5c0.552,0,1-0.447,1-1S39.052,25,38.5,25z" fill="#707070"/>
                    </g>
                </svg>
    </div>
    <!--///////////////////////////DEFAULT///////////////////////////////////-->
    <div class="main__title d-flex align-items-center" *ngIf="!byType && inventoryDates">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Items</th>
          <th scope="col" class="col__items" colspan="1"
              *ngFor="let date of inventoryDates.slice(dateIndex, dateIndex + 5)">
            {{date | date:'yyyy/dd/MM'}}
            <i class="far fa-edit"></i>
          </th>
        </tr>
        </thead>
        <tr *ngFor="let label of inventoryLabels">
          <td scope="row" class="type">{{label}}</td>
          <ng-container *ngFor="let item of inventoryItems[label].slice(dateIndex, dateIndex + 5)">
            <td>
              <input class="td-numb" [(ngModel)]="item.price">
            </td>
          </ng-container>
        </tr>
      </table>
      <div class="plus__circle" (click)="openNewProperty(contentNewProperty)">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve" width="40px" height="40px">
                    <g>
                        <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26   S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z" fill="#707070"/>
                        <path d="M38.5,25H27V14c0-0.553-0.448-1-1-1s-1,0.447-1,1v11H13.5c-0.552,0-1,0.447-1,1s0.448,1,1,1H25v12c0,0.553,0.448,1,1,1   s1-0.447,1-1V27h11.5c0.552,0,1-0.447,1-1S39.052,25,38.5,25z" fill="#707070"/>
                    </g>
                </svg>
      </div>
      <div class="save__button">
        <button class="button__item">Save</button>
      </div>
    </div>
    <!--POPUP ADD PROPERTY FORM-->
    <ng-template #contentNewProperty let-c="close" let-d="dismiss" class="modal-lg">
      <div class="modal-container" style="width: 800px; background: white;">
        <form class="main__block" [formGroup]="form" (submit)="saveFormInput()" #f="ngForm">
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="cros">&times;</span>
          </button>
          <div class="user__component d-flex flex-column">
            <div class="user__block">
              <div class="user__block__header d-flex justify-content-between align-items-center">
                <div class="user__text">
                  <p>Add Property</p>
                </div>
                <div class="select__date d-flex justify-content-center align-items-center">
                  <div>Select Date:</div>
                  <input type="date" class="search__date__item" formControlName="date" id="date" name="date"
                         placeholder="">
                </div>
                <button type="button" class="close" aria-label="Close">
                  <span aria-hidden="true" class="cros">&times;</span>
                </button>
              </div>
              <hr>
              <form formArrayName="inventories" *ngFor="let item of form.get('inventories').controls; let i=index"
                    class="user__form">
                <div class="name__block" [formGroupName]="i">
                  <input type="text" formControlName="item" id="item" name="item" placeholder="Item" class="input">
                  <input type="text" formControlName="price" id="need" name="price" placeholder="Need" class="input">
                </div>
              </form>
              <div class="add__item__block" (click)="addFormInputT()">
                <button type="button" class="add__item__btn">
                  Add Item
                </button>
              </div>

              <div class="save__btn">
                <button class="add__btn">Save</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
</section>
