<app-header></app-header>

<section id="main">
    <div class="main__block">
        <!--///////////////////////////FILTER///////////////////////////////////-->
        <div class="search__block d-flex align-items-center justify-content-around">
            <div class="search__text__block d-flex flex-column">
                <p>Search History</p>
                <div class="search__buttons d-flex justify-content-center align-items-center">
                    <div class="date_button">
                        <a (click)="changeTable('date')" [ngClass]="{'dark-button':byDate}" class="button__item">By Date</a>
                    </div>
                    <div class="type_button">
                        <a (click)="changeTable('type')" [ngClass]="{'dark-button':byType}" class="button__item">By Type</a>
                    </div>
                    <div *ngIf="(currentUser.role=='admin') &&(!byType && inventoryDates)" class="type_button">
                        <!-- <a class="button__item" (click)="isEnabled=true;archiveRow();">Archive</a> -->
                        <a class="button__item" (click)="showArchive = !showArchive">Archive</a>

                    </div>
                    <div *ngIf="archiveToggle==false && !byType && inventoryDates" class="type_button">
                            <a class="button__item" (click)="updateItem();selectedDate=-1;archiveToggle =true;showArchive=false;"> Save Archive</a>
                        </div>
                </div>
            </div>

            <div class="search__date__block d-flex flex-column justify-content-center">
                <p class="date-range__title" style="color: darkslategray; font-style:normal;opacity: 0.5;font-weight: 600;" [hidden]="!byDate">Select Date</p>
                <select class="custom-select" [(ngModel)]="dateOfItem"  name="date" (change)="updateItemsByDate()" [hidden]="!byDate" style="width:50%;background-color:#F3F2F0; margin: 0 auto">
                    <option selected value="null">Select Date</option>
                    <option *ngFor="let date of inventoryDates" value="{{date}}">{{date}}</option>
                </select>
            </div>


            <div class="search__date-range__block d-flex justify-content-around align-items-center">
                <div class="d-flex flex-column">
                    <p class="date-range__title" [hidden]="!byType" style="color: darkslategray;opacity: 0.6;font-weight: 600; font-size:16px;">Select Type</p>
                    <select placeholder="Select Type" class="custom-select" [(ngModel)]="nameOfItem" name="type" [hidden]="!byType" (change)="updateItemsByType()">
               <option selected>Select Type</option>
          <option *ngFor="let label of inventoryLabels" value="{{label}}">{{label}}</option>
        </select>
                </div>
                <div class="date-range__item d-flex justify-content-center align-items-center">
                    <input type="date" class="search__date__item" [(ngModel)]="dateFrom" [disabled]="!nameOfItem" [hidden]="!byType">
                    <p class="date-range__title" [hidden]="!byType" style=" margin-bottom:6em">Date Range</p>
                    <input type="date" class="search__date__item" [(ngModel)]="dateTo" [disabled]="!dateFrom" [hidden]="!byType">
                </div>
            </div>
        </div>

        <!--///////////////////////////BY TYPE///////////////////////////////////-->
        <div class="main__title d-flex align-items-center" *ngIf="!byDate && byType">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col" class="col__items" colspan="2">
                            {{nameOfItem}}
                            <!--<i class="far fa-edit"></i>-->
                        </th>
                    </tr>
                </thead>
                <ng-container *ngIf="currentItem">
                    <tr *ngFor="let item of currentItem.data | filterByDate: dateFrom: dateTo">
                        <td scope="row" class="type">{{item.date}}</td>
                        <td>
                            <input class="td-numb" [(ngModel)]="item.price">
                        </td>
                    </tr>
                </ng-container>
            </table>
            <div class="plus__circle" (click)="openNewProperty(contentNewProperty)">
                <i class="fas fa-plus"></i>
            </div>

        </div>

        <!--///////////////////////////DEFAULT///////////////////////////////////-->
        <div class="main__title d-flex align-items-center" *ngIf="!byType && inventoryDates">

            <table class="table table-bordered" id="table">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col" class="col__items dataPicker" colspan="1" (click)="selectedDate = i" *ngFor="let date of inventoryDates.slice(dateIndex, dateIndex + 8);let i = index">
                            {{date | date:'yyyy/dd/MM'}}
                            <div class='inline_edit_icon' (click)="setEditingColumn(i)"><i class="far fa-edit"></i></div>                            
                        </th>
                    </tr>
                </thead>
                <tr *ngFor="let label of inventoryLabels" id='toggle' name="achive"  >
                    <ng-container *ngIf="!inventoryItems[label].archive">
                    <td scope="row" class="type" id="fname">
                        <input class="checkbox" type="checkbox" id='checkMe' *ngIf="showArchive" [(ngModel)]="inventoryItems[label].archive" (change)="archiveToggle=false;"> {{label}}
                    </td>
                    <ng-container *ngFor="let item of inventoryItems[label].data.slice(dateIndex, dateIndex + 8);let i = index">
                        <td>                        
                            <input class="td-numb" [disabled]="editingColumnNumber != i" [(ngModel)]="item.price" [class.editable]="selectedDate == i"  (change)="showSave=true;">
                        </td>
                    </ng-container>
                   </ng-container>
                </tr>
                <tr *ngFor="let label of inventoryLabels" id='toggle' name="achive" class="archive" >
                        <ng-container *ngIf="inventoryItems[label].archive && showArchive">
                        <td scope="row" class="type" id="fname">
                            <input class="checkbox" type="checkbox" id='checkMe' *ngIf="showArchive" [(ngModel)]="inventoryItems[label].archive" (change)="archiveToggle=false;"> {{label}}
                        </td>
                        <ng-container *ngFor="let item of inventoryItems[label].data.slice(dateIndex, dateIndex + 8);let i = index">
                            <td>                        
                                <input class="td-numb" [disabled]="editingColumnNumber != i" [(ngModel)]="item.price" [class.editable]="selectedDate == i" (change)="showSave=true;">
                            </td>
                        </ng-container>
                       </ng-container>
                    </tr>
            </table>
            <div class="save__btn" *ngIf="selectedDate != -1 && showSave" (click)="updateItem();showSave=false;archiveToggle=true;editingColumnNumber=-1">
                <button class="add__btn">Save</button>
            </div>
            <div class="plus__circle" (click)="openNewProperty(contentNewProperty)">
                <i class="fas fa-plus"></i>
            </div>

        </div>
        <!--POPUP ADD PROPERTY FORM-->
        <ng-template #contentNewProperty let-c="close" let-d="dismiss" class="modal-lg">
            <div class="modal-container" style="width: 800px; background: white;">
                <form class="main__block" [formGroup]="form" name="form" (submit)="saveFormInput()" #f="ngForm">
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                          <span aria-hidden="true" class="cros">&times;</span>
                     </button>

                    <div class="user__component d-flex flex-column">
                        <div>
                            <div class="user__block__header d-flex justify-content-between align-items-center">
                                <div class="user__text">
                                    <p>Add Property</p>
                                </div>
                                <div class="select__date d-flex justify-content-center align-items-center">
                                    <div>Select Date:</div>
                                    <input type="date" (change)="dateChangeOnAdd()" style="width:175px;"  class="search__date__item datePicker" formControlName="date" placeholder="">
                                </div>
                            </div>
                            <hr>
                            <table class="table  table-hover table-responsive m-auto">                             
                                <form formArrayName="inventories" *ngFor="let item of form.controls.inventories.controls; let i=index" >
                                    <tr class="name__block" [formGroupName]="i" class="form-group">
                                        <td><input type="text" formControlName="item"  name="item" placeholder="Type"  class="form-control"></td> 
                                        <td><input type="text" formControlName="price" name="price" placeholder="Need" class="form-control"></td>
                                    </tr>
                                </form>
                               
                            </table>    
                            <div *ngIf="dateExists" class="alert alert-danger">
                                {{dateExistsErrorMessage}}
                            </div>                      
                                <button type="button" class="add_type__btn" (click)="addItemInput()">Add Type</button>                           
                                <button class="save_transactions_btn" [disabled]="form.invalid">Save</button>                                                          
                                <!-- <button type="button" class="cancel__btn" (click)="dismissAddItemModal()">Cancel</button> -->
                        </div>
                    </div>
                </form>
            </div>
        </ng-template>
    </div>
</section>