<app-header></app-header>


<section id="main">
  <div class="main__block">
    <app-transactions-header></app-transactions-header>

    <div class="main__title d-flex align-items-center">
      <!--<table class="table table-bordered" *ngFor="let transaction of transactions | async" (click)="getTransactions(transaction.id)">-->
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Type</th>
          <!--<th scope="col" class="col__items">{{transaction.data.date}}
            <i class="far fa-edit"></i>
          </th>-->
          <th scope="col" class="col__items">12/03/17
            <i class="far fa-edit"></i>
          </th>
          <th scope="col" class="col__items">12/03/17
            <i class="far fa-edit"></i>
          </th>
          <th scope="col" class="col__items">12/02/17
            <i class="far fa-edit"></i>
          </th>
          <th scope="col" class="col__items">12/01/17
            <i class="far fa-edit"></i>
          </th>
          <th scope="col" class="col__items">12/01/17
            <i class="far fa-edit"></i>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
         <!-- <td scope="row" class="type">{{transaction.data.type}}</td>
          <td>
            <p class="td-numb">{{transaction.data.value}}</p>
            <input type="text" class="td-input" placeholder="">
          </td>-->
          <td scope="row" class="type">Visa</td>
          <td>
            <!--<p class="td-numb">{{transaction.data.value}}</p>-->
            <p class="td-numb">200$</p>
            <input type="text" class="td-input" placeholder="">
          </td>
          <td>
            <p class="td-numb">$0.00</p>
            <input type="text" class="td-input" placeholder="$0.00">
          </td>
          <td>
            <p class="td-numb">$3,349.95</p>
            <input type="text" class="td-input" placeholder="$3,349.95">
          </td>
          <td>
            <p class="td-numb">$406.67</p>
            <input type="text" class="td-input" placeholder="$406.67">
          </td>
          <td>
            <p class="td-numb">$3,349.95</p>
            <input type="text" class="td-input" placeholder="$3,349.95">
          </td>
        </tr>
        <tr>
          <!--<td scope="row" class="type">{{transaction.data.type}}</td>
          <td>
            <p class="td-numb">{{transaction.data.value}}</p>
            <input type="text" class="td-input" placeholder="">
          </td>-->
          <td scope="row" class="type">Visa/MC</td>
          <td>
            <p class="td-numb">200$</p>
            <input type="text" class="td-input" placeholder="">
          </td>
          <td>
            <p class="td-numb">$3,349.95</p>
            <input type="text" class="td-input" placeholder="$3,349.95">
          </td>
          <td>
            <p class="td-numb">$535.34</p>
            <input type="text" class="td-input" placeholder="$535.34">
          </td>
          <td>
            <p class="td-numb">$535.34</p>
            <input type="text" class="td-input" placeholder="$535.34">
          </td>
          <td>
            <p class="td-numb">$535.34</p>
            <input type="text" class="td-input" placeholder="$535.34">
          </td>
        </tr>
        <tr>
          <!--<td scope="row" class="type">{{transaction.data.type}}</td>
          <td>
            <p class="td-numb">{{transaction.data.value}}</p>
            <input type="text" class="td-input" placeholder="">
          </td>-->
          <td scope="row" class="type">Amex</td>
          <td>
            <p class="td-numb">300$</p>
            <input type="text" class="td-input" placeholder="">
          </td>
          <td>
            <p class="td-numb">$535.34</p>
            <input type="text" class="td-input" placeholder="$535.34">
          </td>
          <td>
            <p class="td-numb">$535.34</p>
            <input type="text" class="td-input" placeholder="$535.34">
          </td>
          <td>
            <p class="td-numb">$870.86</p>
            <input type="text" class="td-input" placeholder="870.86">
          </td>
          <td>
            <p class="td-numb">$535.34</p>
            <input type="text" class="td-input" placeholder="$535.34">
          </td>
        </tr>
        <tr>
          <!--<td scope="row" class="type">{{transaction.data.type}}</td>-->
          <!--<td>
            <p class="td-numb">{{transaction.data.value}}</p>
            <input type="text" class="td-input" placeholder="">
          </td>-->
          <td scope="row" class="type">Checks</td>
          <td>
            <p class="td-numb">500$</p>
            <input type="text" class="td-input" placeholder="">
          </td>
          <td>
            <p class="td-numb">$0.00</p>
            <input type="text" class="td-input" placeholder="$0.00">
          </td>
          <td>
            <p class="td-numb">$535.34</p>
            <input type="text" class="td-input" placeholder="$535.34">
          </td>
          <td>
            <p class="td-numb">$870.86</p>
            <input type="text" class="td-input" placeholder="$870.86">
          </td>
          <td>
            <p class="td-numb">$870.86</p>
            <input type="text" class="td-input" placeholder="$870.86">
          </td>
        </tr>
        </tbody>
      </table>
      <div class="plus__circle" (click)="openNewProperty(contentNewProperty)">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve" width="40px" height="40px">
                    <g>
                        <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26   S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z" fill="#707070"/>
                        <path d="M38.5,25H27V14c0-0.553-0.448-1-1-1s-1,0.447-1,1v11H13.5c-0.552,0-1,0.447-1,1s0.448,1,1,1H25v12c0,0.553,0.448,1,1,1   s1-0.447,1-1V27h11.5c0.552,0,1-0.447,1-1S39.052,25,38.5,25z" fill="#707070"/>
                    </g>
                </svg>
      </div>

      <div class="save__button">
        <button class="button__item">Save</button>
      </div>
    </div>
  </div>

  <!--POPUP ADD PROPERTY FORM-->
  <ng-template #contentNewProperty let-c="close" let-d="dismiss">
    <div class="main__block">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="cros">&times;</span>
      </button>
      <div class="transaction__block d-flex flex-column align-items-center">
        <h1>Create New Transaction</h1>
        <div class="select__date d-flex justify-content-center align-items-center">
          <p>Select Date:</p>
          <div class="search__date__item">
            <mat-form-field class="datepicker-form">
              <input matInput [matDatepicker]="picker1" placeholder="" [formControl]="date" name="data" id="data" [(ngModel)]="data">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1 class="datepicker-calendar"></mat-datepicker>
            </mat-form-field>
          </div>
          <!--<input type="text" class="search__date__item" placeholder="">-->
        </div>
        <div class="input__transaction">
          <input type="text" class="td-input" placeholder="" name="type" id="type" [(ngModel)]="type">
          <!--<select class="custom-select td-input">
            <option selected>Select Type</option>
            <option value="1">Visa</option>
            <option value="2">Amex</option>
            <option value="3">Checks</option>
          </select>-->
          <input type="text" class="td-input" placeholder="" name="value" id="value" [(ngModel)]="value">
        </div>
        <!--<div class="input__transaction">
          <input type="text" class="td-input" placeholder="Amex">
          <input type="text" class="td-input" placeholder="$24.64">
        </div>-->
        <div class="plus__circle">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve" width="40px" height="40px">
                    <g>
                        <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26   S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z" fill="#707070"/>
                        <path d="M38.5,25H27V14c0-0.553-0.448-1-1-1s-1,0.447-1,1v11H13.5c-0.552,0-1,0.447-1,1s0.448,1,1,1H25v12c0,0.553,0.448,1,1,1   s1-0.447,1-1V27h11.5c0.552,0,1-0.447,1-1S39.052,25,38.5,25z" fill="#707070"/>
                    </g>
                </svg>
        </div>
        <div class="save__btn">
          <button class="button__item" (click)="addNewProperty()" value="submit">Save</button>
        </div>
      </div>
    </div>
  </ng-template>
</section>
